<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/counselors.css">
    <link rel="stylesheet" href="/styles/doc/doc_home.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title></title>

    <style>
      #wander {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 35px 150px;
  color: #fff;
  font-weight: 600 !important ;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 1s;
  font-weight: bold;
  font-size:20px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  overflow-y: visible;
  border-bottom: 1px solid #f2f2f2;
  border-width: thin;
  padding: 10px;
  transition: background 300ms linear;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.notifimg{
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    height: 48px;
    width: 48px
  }
  .items{
    font-size:18px;
  }

#background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://www.hughbaird.ac.uk/user/pages/shared/course/counselling.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}









/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/nucleo-icons.css */
.ni{display:inline-block;font:normal normal normal 14px/1 NucleoIcons;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ni-favourite-28::before{content:"\ea34";}
.ni-watch-time::before{content:"\ea5d";}
/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.2 */
*,:after,:before{box-sizing:border-box;}
section{display:block;}
h2,h4{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#5e72e4;background-color:transparent;}
a,a:hover{text-decoration:none;}
a:hover{color:#233dd2;}
img{border-style:none;}
img{vertical-align:middle;}
h2,h4{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h2{font-size:2rem;}
h4{font-size:1.5rem;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1040px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-12,.col-lg-4,.col-md-6,.col-md-10{position:relative;width:100%;padding-right:15px;padding-left:15px;}
.col-12{flex:0 0 100%;max-width:100%;}
@media (min-width:768px){
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-10{flex:0 0 83.333333%;max-width:83.333333%;}
}
@media (min-width:992px){
.col-lg-4{flex:0 0 33.333333%;max-width:33.333333%;}
}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:.0625rem solid rgba(0,0,0,.05);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-title{margin-bottom:1.25rem;}
.card-footer{padding:1.25rem 1.5rem;background-color:#f6f9fc;border-top:.0625rem solid rgba(0,0,0,.05);}
.card-footer:last-child{border-radius:0 0 0.1875rem 0.1875rem;}
.rounded{border-radius:.25rem!important;}
.shadow{box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;}
.mb-5{margin-bottom:3rem!important;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
img{page-break-inside:avoid;}
h2,p{orphans:3;widows:3;}
h2{page-break-after:avoid;}
.container{min-width:992px!important;}
}
.opacity-8{opacity:.8!important;}
[class*=shadow]{transition:all .15s ease;}
.avatar{color:#fff;background-color:#adb5bd;display:inline-flex;align-items:center;justify-content:center;font-size:1rem;border-radius:50%;height:48px;width:48px;}
.card{position:relative;}
.card.card-plain{background:transparent;box-shadow:none;border:none;}
.mx-auto{margin-right:auto!important;}
.mx-auto{margin-left:auto!important;}
p{font-size:1rem;}
p{font-weight:300;line-height:1.7;}
.card-blog{overflow:hidden;}
.card-blog.card-plain .card-body{padding:15px 0;}
.card-blog .card-image .img{width:100%;background-size:cover;background-position:50% 50%;}
.card-body .card-footer{position:relative;bottom:0;left:0;background-color:transparent!important;width:100%;color:#fff;padding:5px 0 0!important;border-top:none!important;}
.stats{font-size:.8em;}
.stats i{margin-right:5px;position:relative;top:2px;}
.stats.stats-right{float:right;line-height:30px;position:relative;}
.author{position:relative;display:inline-block;text-align:left;}
.author .avatar{width:30px;height:30px;overflow:hidden;border-radius:50%;margin-right:5px;}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-title{margin-bottom:.5rem;}
.card .card-footer{background-color:#fff;}
.sections-page [class*=blogs-]{padding:80px 0;}
.blogs-5 .card .card-footer .author,.blogs-5 .card .card-footer .stats{color:#172b4d;}
/*! CSS Used fontfaces */
@font-face{font-family:'NucleoIcons';src:url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.eot');src:url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.eot') format('embedded-opentype'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.woff2') format('woff2'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.woff') format('woff'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.ttf') format('truetype'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.svg') format('svg');font-weight:normal;font-style:normal;}









/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/nucleo-icons.css */
.ni{display:inline-block;font:normal normal normal 14px/1 NucleoIcons;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ni-bold-right::before{content:"\ea11";}
/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.2 */
*,:after,:before{box-sizing:border-box;}
section{display:block;}
h3,h5,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#5e72e4;background-color:transparent;}
a,a:hover{text-decoration:none;}
a:hover{color:#233dd2;}
button{border-radius:0;}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color;}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{overflow:visible;}
button{text-transform:none;}
[type=button],button{-webkit-appearance:button;}
[type=button]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none;}
h3,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h3{font-size:1.75rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}
.display-3{font-size:2.1875rem;}
.display-3{font-weight:600;line-height:1.5;}
.container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width:576px){
.container{max-width:540px;}
}
@media (min-width:768px){
.container{max-width:720px;}
}
@media (min-width:992px){
.container{max-width:960px;}
}
@media (min-width:1200px){
.container{max-width:1040px;}
}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-lg-6,.col-md-8{position:relative;width:100%;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-8{flex:0 0 66.666667%;max-width:66.666667%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 25%;max-width:25%;}
.col-lg-6{flex:0 0 50%;max-width:50%;}
}
.btn{display:inline-block;font-weight:600;color:#525f7f;text-align:center;vertical-align:middle;user-select:none;background-color:transparent;border:1px solid transparent;padding:.625rem 1.25rem;line-height:1.5;border-radius:.25rem;transition:all .15s ease;}
@media (prefers-reduced-motion:reduce){
.btn{transition:none;}
}
.btn:hover{color:#525f7f;text-decoration:none;}
.btn:focus{outline:0;box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);}
.btn:disabled{opacity:.65;box-shadow:none;}
.btn-primary{color:#fff;background-color:#5e72e4;border-color:#5e72e4;box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);}
.btn-primary:hover{color:#fff;background-color:#3d55df;border-color:#324cdd;}
.btn-primary:focus{box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08),0 0 0 0 rgba(118,135,232,.5);}
.btn-primary:disabled{color:#fff;background-color:#5e72e4;border-color:#5e72e4;}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:.0625rem solid rgba(0,0,0,.05);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-title{margin-bottom:1.25rem;}
.align-items-center{align-items:center!important;}
.mt-1{margin-top:.25rem!important;}
.mt-4{margin-top:1.5rem!important;}
.mb-5{margin-bottom:3rem!important;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
h3,p{orphans:3;widows:3;}
h3{page-break-after:avoid;}
.container{min-width:992px!important;}
}
.opacity-8{opacity:.8!important;}
.text-white{color:#fff!important;}
.btn{position:relative;text-transform:uppercase;will-change:transform;letter-spacing:.025em;font-size:.875rem;}
.btn:hover{box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);transform:translateY(-1px);}
.btn-inner--icon i:not(.fa){position:relative;}
.btn-icon .btn-inner--text:not(:last-child){margin-right:.75em;}
.card{position:relative;}
p{font-size:1rem;}
.lead,p{font-weight:300;line-height:1.7;}
.lead{font-size:1.25rem;margin-top:1.5rem;}
.card-blog{overflow:hidden;}
.card-background{background-position:50%;background-size:cover;text-align:center;}
.card-background .card-body{position:relative;z-index:2;min-height:330px;padding-top:60px;padding-bottom:60px;}
.card-background .card-body .content-bottom{position:absolute;bottom:10px;text-align:left;}
.card-background.card-blog{overflow:hidden;height:330px;}
.card-background .full-background{background-position:50%;background-size:cover;text-align:center;margin-bottom:30px;width:100%;height:100%;position:absolute;border-radius:.3rem;backface-visibility:hidden;-webkit-backface-visibility:hidden;transition:all 1s cubic-bezier(.2,1,.22,1);-webkit-transition:all 1s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming]:hover .full-background{transform:scale(1.07);-webkit-transform:scale(1.07);}
.card-background[data-animation=zooming]{transition:all .3s cubic-bezier(.2,1,.22,1);-webkit-transition:all .3s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming] a:not(.btn){height:100%;}
.card-background[data-animation=zooming] .card-body{padding-bottom:30px;margin:initial;height:100%;}
.card-background[data-animation=zooming]:hover{transform:scale(1.07);-webkit-transform:scale(1.07);z-index:2;}
.card-background .card-title{color:#fff;}
.card-background:after{position:absolute;top:0;bottom:0;left:0;height:100%;z-index:1;width:100%;display:block;content:"";background:rgba(0,0,0,.6);}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-title{margin-bottom:.5rem;}
@media (max-width:575.98px){
.card-background[data-animation=zooming] a:not(.btn){height:auto!important;}
}
.sections-page [class*=blogs-]{padding:80px 0;}
/*! CSS Used fontfaces */
@font-face{font-family:'NucleoIcons';src:url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.eot');src:url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.eot') format('embedded-opentype'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.woff2') format('woff2'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.woff') format('woff'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.ttf') format('truetype'), url('https://demos.creative-tim.com/argon-design-system-pro/assets/fonts/nucleo-icons.svg') format('svg');font-weight:normal;font-style:normal;}









/*! CSS Used from: https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.2 */
*,:after,:before{box-sizing:border-box;}
section{display:block;}
h3,h5,h6{margin-top:0;margin-bottom:.5rem;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#5e72e4;background-color:transparent;}
a,a:hover{text-decoration:none;}
a:hover{color:#233dd2;}
h3,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:400;line-height:1.5;color:#32325d;}
h3{font-size:1.75rem;}
h5{font-size:1.25rem;}
h6{font-size:1rem;}
.display-3{font-size:2.1875rem;}
.display-3{font-weight:600;line-height:1.5;}
.container-fluid{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-lg-3,.col-md-8{position:relative;width:100%;padding-right:15px;padding-left:15px;}
@media (min-width:768px){
.col-md-8{flex:0 0 66.666667%;max-width:66.666667%;}
}
@media (min-width:992px){
.col-lg-3{flex:0 0 25%;max-width:25%;}
}
.card{display:flex;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:.0625rem solid rgba(0,0,0,.05);border-radius:.25rem;}
.card-body{flex:1 1 auto;padding:1.5rem;}
.card-title{margin-bottom:1.25rem;}
@media (min-width:768px){
.mb-md-5{margin-bottom:3rem!important;}
}
.text-center{text-align:center!important;}
@media print{
*,:after,:before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
h3,p{orphans:3;widows:3;}
h3{page-break-after:avoid;}
}
.opacity-8{opacity:.8!important;}
.text-white{color:#fff!important;}
.card{position:relative;}
.mx-auto{margin-right:auto!important;}
.mx-auto{margin-left:auto!important;}
p{font-size:1rem;}
.lead,p{font-weight:300;line-height:1.7;}
.lead{font-size:1.25rem;margin-top:1.5rem;}
.card-blog{overflow:hidden;}
.card-background{background-position:50%;background-size:cover;text-align:center;}
.card-background .card-body{position:relative;z-index:2;min-height:330px;padding-top:60px;padding-bottom:60px;}
.card-background .card-body .content-bottom{position:absolute;bottom:10px;text-align:left;}
.card-background.card-blog{overflow:hidden;height:330px;}
.card-background .full-background{background-position:50%;background-size:cover;text-align:center;margin-bottom:30px;width:100%;height:100%;position:absolute;border-radius:.3rem;backface-visibility:hidden;-webkit-backface-visibility:hidden;transition:all 1s cubic-bezier(.2,1,.22,1);-webkit-transition:all 1s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming]:hover .full-background{transform:scale(1.07);-webkit-transform:scale(1.07);}
.card-background[data-animation=zooming]{transition:all .3s cubic-bezier(.2,1,.22,1);-webkit-transition:all .3s cubic-bezier(.2,1,.22,1);}
.card-background[data-animation=zooming] a:not(.btn){height:100%;}
.card-background[data-animation=zooming] .card-body{padding-bottom:30px;margin:initial;height:100%;}
.card-background[data-animation=zooming]:hover{transform:scale(1.07);-webkit-transform:scale(1.07);z-index:2;}
.card-background .card-title{color:#fff;}
.card-background:after{position:absolute;top:0;bottom:0;left:0;height:100%;z-index:1;width:100%;display:block;content:"";background:rgba(0,0,0,.6);}
.card{margin-bottom:30px;box-shadow:0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);border:0;}
.card .card-title{margin-bottom:.5rem;}
@media (max-width:575.98px){
.card-background[data-animation=zooming] a:not(.btn){height:auto!important;}
}
.sections-page [class*=blogs-]{padding:80px 0;}
.blogs-2 .card{height:530px;}











/*! CSS Used from: http://localhost:8000/styles/pregnancy_home.css */
@media all{
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
div,p,a{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a{-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;}
a{text-decoration:none;}
p{margin-bottom:10px;}
a:hover{color:#2c2c2c;}
a{color:#4d4d4d;}
::-webkit-input-placeholder{color:#2c2c2c;}
::-moz-placeholder{color:#2c2c2c;}
:-ms-input-placeholder{color:#2c2c2c;}
:-moz-placeholder{color:#2c2c2c;}
}
a{color:#5CD2D2;}
@media all{
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
}
*,::after,::before{box-sizing:border-box;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#007bff;text-decoration:none;background-color:transparent;}
a:hover{color:#0056b3;text-decoration:underline;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
p{orphans:3;widows:3;}
}
/*! CSS Used from: https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css */
*,::after,::before{box-sizing:border-box;}
p{margin-top:0;margin-bottom:1rem;}
a{color:#007bff;text-decoration:none;background-color:transparent;}
a:hover{color:#0056b3;text-decoration:underline;}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
@media print{
*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
a:not(.btn){text-decoration:underline;}
p{orphans:3;widows:3;}
}
/*! CSS Used from: Embedded */
@media all{
div,p,a{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a{-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;}
a{text-decoration:none;}
p{margin-bottom:10px;}
a:hover{color:#2c2c2c;}
a{color:#4d4d4d;}
::-webkit-input-placeholder{color:#2c2c2c;}
::-moz-placeholder{color:#2c2c2c;}
:-ms-input-placeholder{color:#2c2c2c;}
:-moz-placeholder{color:#2c2c2c;}
}
@media all{
::-webkit-input-placeholder{color:inherit;}
:-moz-placeholder{color:inherit;opacity:1;filter:alpha(opacity=100);}
::-moz-placeholder{color:inherit;opacity:1;filter:alpha(opacity=100);}
:-ms-input-placeholder{color:inherit;}
}
a{color:#5CD2D2;}
div,p,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;}
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
.container1{margin-right:auto;margin-left:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container1:before,.container1:after{display:table;content:"";line-height:0;}
.container1:after{clear:both;}
@media (min-width:980px) and (max-width:1199px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
}
@media (min-width:768px) and (max-width:979px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:748px;}
.grid_8{width:492px;}
.grid_4{width:236px;}
}
@media (max-width:767px){
.container1{width:420px;padding:0 0;}
.row{margin-left:0;}
[class*=grid_]{float:none;display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}
@media (max-width:479px){
.container1{width:300px;padding:0 15px;}
.row{margin-left:0;}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
*{-webkit-text-size-adjust:none;}
a{text-decoration:none;cursor:pointer;color:inherit;-webkit-transition:.4s all ease;transition:.4s all ease;}
a:hover{color:#4db9ca;text-decoration:none;}
.txt1{font:300 46px/46px 'Roboto',Arial,sans-serif;color:#fff;margin-top:32px;text-transform:uppercase;}
p{margin-top:23px;}
.more_btn{display:inline-block;margin-top:26px;padding:19px 16px;text-decoration:none;font:300 20px/24px "Roboto",Arial,sans-serif;color:#fff;background:#e66d64;text-transform:uppercase;border-radius:50px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;width:100%;max-width:100%;}
.more_btn:hover{color:#fff;background:#000;}
.box-1{position:relative;width:100%;margin-top:58px;padding:14px 0 38px;color:#b5e5dd;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url(https://livedemo00.template-help.com/wt_51406/images/bg1.png) #4cbbcf;margin-bottom:6px;}
@media only screen and (max-width:979px){
.txt1{font:300 30px/30px 'Roboto',Arial,sans-serif;margin-top:46px;}
}
@media only screen and (max-width:767px){
.txt1{margin-top:10px;}
.more_btn{margin-top:10px;}
}
div,p,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;}
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
@media (min-width:980px) and (max-width:1199px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
}
@media (min-width:768px) and (max-width:979px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.grid_8{width:492px;}
.grid_4{width:236px;}
}
@media (max-width:767px){
.row{margin-left:0;}
[class*=grid_]{float:none;display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}
@media (max-width:479px){
.row{margin-left:0;}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
*{-webkit-text-size-adjust:none;}
a{text-decoration:none;cursor:pointer;color:inherit;-webkit-transition:.4s all ease;transition:.4s all ease;}
a:hover{color:#4db9ca;text-decoration:none;}
.txt1{font:300 46px/46px 'Roboto',Arial,sans-serif;color:#fff;margin-top:32px;text-transform:uppercase;}
p{margin-top:23px;}
.more_btn{display:inline-block;margin-top:26px;padding:19px 16px;text-decoration:none;font:300 20px/24px "Roboto",Arial,sans-serif;color:#fff;background:#e66d64;text-transform:uppercase;border-radius:50px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;width:100%;max-width:100%;}
.more_btn:hover{color:#fff;background:#000;}
@media only screen and (max-width:979px){
.txt1{font:300 30px/30px 'Roboto',Arial,sans-serif;margin-top:46px;}
}
@media only screen and (max-width:767px){
.txt1{margin-top:10px;}
.more_btn{margin-top:10px;}
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);}100%{opacity:1;-webkit-transform:translateY(0);}}
@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px);}100%{opacity:1;-moz-transform:translateY(0);}}
@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px);}100%{opacity:1;-o-transform:translateY(0);}}
@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px);}100%{opacity:1;transform:translateY(0);}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px);}100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);}100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none;}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}








.sessions::-webkit-scrollbar{
  display : none;
}

.alert {
    margin-top: 20%;
    width: 39%;
    float: right;
}





    </style>

  </head>


  <body style="overflow-x:hidden">

    <nav id="nav" style="z-index:15;border:none;" class="navpic">
    <div class="logo">
      <span id="wander">FIRSTBORNS</span>
    </div>
    <div class="menu"  style="overflow:visible!important;">
      <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
        <center>
         <li><a class="items" href="/user/home"><i class="fas fa-home"></i></a></li>
         <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
         <li class="dropdown">
           <i style="font-size:18px;" class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
         </li>
         <li class="dropdown" style="margin-left:-4%;">
             <button style="color:white;font-size:16px;margin-top:-2%;" class="items btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i style="font-size:18px;" class="items far fa-user-circle"><small><b><%= user.name%></b></small></i>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="//">SavedArticles</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/cos/logout">Logout</a>
             </div>
         </li>
       </center>
      </ul>
    </div>
  </nav>


  <div id="background">
    <center>
      <h2 style="color:white;padding-top:13%">Get Best Help From Our Counselors</h2>
      <!-- <p style="margin-top:-17%;margin-bottom:15%;color:white;font-size:40px;">MomsCare Blog</p> -->
    </center>
    <%- include ('partials/messages.ejs') %>
  </div>










<br><br><br>


    <div style="padding:3%;background-size: cover;background-repeat: no-repeat;background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) 75%),url('https://lstore.graphics/paaatterns/images/033-p-1080.png');">
    <div class="wrapper" id="wrapper">
      <center><h2 style="color:#17a2b8">GROUP SESSIONS</h2></center>
  <div class="sessions" style="margin-top:3%;margin-left:5%;margin-right:5%;display:flex!important;overflow-x:auto">

                  <%if(sessions){ %>
                      <% for(i=0;i < sessions.length;i++ ){ %>

    <div class="col-lg-4 col-md-6" style="float:left!important;max-width:25%!important">

      <div class="card card-profile" data-background="cover">
        <!-- <img class="img pattern pattern-top" src="https://demos.creative-tim.com/argon-design-system-pro/assets/img/ill/linth3.svg" alt="cover"> -->
        <!-- <div class="card-header">
          <div class="card-avatar">
            <a href="javascript:;">
              <img style="width:15vh;height:15vh;margin-left:13%;" class="img img-raised rounded-circle" src="<%=sessions[i].img%>">
            </a>
          </div>
        </div> -->
        <div class="card-body pt-0" style="margin-top:4%">
          <div class="text-center">
            <h5 class="h5 mt-3">
              <%=sessions[i].name%>
            </h5>
            <div class="font-weight-300">
              <i class="ni location_pin mr-2"><%=sessions[i].session.dates%></i>
            </div>
            <div class="font-weight-300">
              <i class="ni location_pin mr-2">email:  <%=sessions[i].email%></i>
            </div>
            <h6 style="margin-top:3%"> TOPIC : <%=sessions[i].session.topic%></h6>

          </div>
          <div class="card-profile-stats d-flex justify-content-center">
            <div>
              <span class="heading"><%=sessions[i].session.limit%></span>
              <span class="description">Limit</span>
            </div>
            <div>
              <span class="heading"><%=sessions[i].session.bookings%></span>
              <span class="description">Bookings</span>
            </div>
            <div>
              <span class="heading"><%=sessions[i].session.num_of_days%></span>
              <span class="description">Days</span>
            </div>

          </div>
          <form class="" action="/session_booking" method="post">

        <input style="margin-left:18%" type="number" name="count" value="" placeholder="enter num of patients">
        <input type="hidden" name="email" value="<%=sessions[i].email%>">
        <input type="hidden" name="id" value="<%=sessions[i].session._id%>">
        </ul></div><div class="dt-sc-buy-now">
          <!-- <a type="submit" class="dt-sc-button" >appt Session</a> -->

          <button type="submit" style="color:#17a2b8!important" class="btn btn-lg btn-sucess btn-block">Book Session</button>
          <br><br>
        </form>

        </div>
      </div>
    </div>
    <%}%>
    <%}%>

  </div>


  <!--
  <a href="/user/home?pg=<%=1%>#wrapper" class="btn btn-success" style="margin-top:2%%;float:right;margin-right:14%;background-color:#17a2b8!important"> more.. </a>
  <a href="/user/home#wrapper" class="btn btn-success" style="margin-top:0%;float:left;margin-left:14%;background-color:#17a2b8!important"> back  .. </a> -->
  </div>
  </div>


  <div style="padding-top:10px;">
    <div class="box-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;height:150px;">
      <div class="container1">
        <div class="row">
            <div class="grid_8">
              <p class="txt1">Mental Health Matters</p>
            </div>

            <div class="grid_4">
              <a href="/co_booking" class="more_btn">APPOINT A COUNSELLOR</a>
            </div>
          </div>
        </div>
    </div>
    </div>


















<br><br>
<section class="blogs-2" style="margin-top:50px;background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) 75%),url('https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/ill/testimonial_bg.svg')">
        <div class="container-fluid">
          <div class="row mb-md-5">
            <div class="col-md-8 mx-auto">
              <h3 class="display-3 text-center">Articles for each topic</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('https://media.gettyimages.com/photos/granddaughter-playing-with-wooden-block-and-granddad-watching-picture-id1166830366?s=2048x2048"></div>
                <a href="javascript:;">
                  <div class="card-body">
                    <div class="content-bottom">
                      <h6 class="card-category text-white opacity-8">We need to adapt and adjust to survive</h6>
                      <h5 class="card-title">Adjustment</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('https://media.gettyimages.com/photos/mother-and-daughter-bonding-picture-id1131346482?s=2048x2048"></div>
                <a href="javascript:;">
                  <div class="card-body">
                    <div class="content-bottom">
                      <h6 class="card-category text-white opacity-8">If we can control anxiety...</h6>
                      <h5 class="card-title">Anxiety</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('https://media.gettyimages.com/photos/woman-sitting-on-a-rug-with-her-children-playing-in-the-background-picture-id177261587?s=2048x2048"></div>
                <a href="javascript:;">
                  <div class="card-body">
                    <div class="content-bottom">
                      <h6 class="card-category text-white opacity-8">Cant Find any reasons for happiness</h6>
                      <h5 class="card-title">Depression</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-blog card-background" data-animation="zooming">
                <div class="full-background" style="background-image: url('https://media.gettyimages.com/photos/family-visiting-a-graveyard-picture-id538115146?s=2048x2048"></div>
                <a href="/user/counselors/articles/family">
                  <div class="card-body">
                    <div class="content-bottom">
                      <h6 class="card-category text-white opacity-8">Loved ones are the cure for all problems</h6>
                      <h5 class="card-title">Family</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="row mb-md-5">
              <div class="col-md-8 mx-auto">
                <p class="lead text-center"> like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.</p>
              </div>
            </div>
            ><button type="button" class="btn btn-primary" style="margin-left:45%;margin-bottom:1%;background-color: #17a2b8!important;border-color: #17a2b8!important" onclick="/user/counselors/articles" ><a href="/user/counselors/articles">View more</a></button>
          </div>
        </div>
      </section>







    <script>
      window.onscroll = function(){
    var navbar = document.getElementById('nav')
    var wander = document.getElementById('wander')
    var items = document.getElementsByClassName('items')
    var count = document.getElementById('count')
    var btn = document.getElementById('dropdownMenuButton')
    var ul = document.getElementById('ul')

    if (window.pageYOffset < 250){
      navbar.style.background = "rgba(0, 0, 0, 0)";
      navbar.style.boxShadow = 'none';
      wander.style.color = "#ffffff";
      wander.style.marginTop = "35px"
      ul.style.marginTop = "1.7%";
      btn.style.color = '#ffffff';
      for(var i=0; i<items.length; i++){
        items[i].style.color = "#ffffff";
        items[i].onmouseover = function(){
          items[i].style.color = "#06b995";
        }
      }
    } else {
      navbar.style.background = '#fff';
      navbar.style.boxShadow = "0 4px 4px -2px #495057";
      wander.style.color = "#60bfdc";
      btn.style.color = '#60bfdc';
      wander.style.marginTop = "17px"
      ul.style.marginTop = "0.4%";
      for(var i=0; i<items.length; i++){
        items[i].style.color = "#60bfdc";
        items[i].onmouseover = function(){
          items[i].style.color = "black";
        }
      }
    }
  }

    </script>

  </body>
</html>
