<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="/styles/home_style.css"> -->
    <!-- <link rel="stylesheet" href="/styles/user_home.css"> -->
    <!-- <link rel="stylesheet" href="/styles/users_home.css"> -->
    <style>



      #wander {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 35px 150px;
  color: #fff;
  font-weight: 600 !important ;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 1s;
  font-weight: bold;
  font-size:20px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  overflow-y: visible;
  border-bottom: 1px solid #f2f2f2;
  border-width: thin;
  padding: 10px;
  transition: background 300ms linear;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.notifimg{
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    height: 48px;
    width: 48px
  }
  .items{
    font-size:18px;
  }







#background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://www.ottawapublichealth.ca/en/public-health-services/resources/Images/mom-baby-1065.jpg");
  min-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

































/*! CSS Used from: http://forum.azyrusthemes.com/css/bootstrap.min.css */
a{background:0 0;}
a:active,a:hover{outline:0;}
img{border:0;}
input{color:inherit;font:inherit;margin:0;}
input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type=radio]{box-sizing:border-box;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
td{padding:0;}
@media print{
*{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
tr,img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
input{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h2,h3{margin-top:20px;margin-bottom:10px;}
h2{font-size:30px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
ul{margin-top:0;margin-bottom:10px;}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
@media (min-width:768px){
.container{width:750px;}
}
@media (min-width:992px){
.container{width:970px;}
}
@media (min-width:1200px){
.container{width:1170px;}
}
.row{margin-left:-15px;margin-right:-15px;}
.col-md-4,.col-lg-4,.col-md-8,.col-lg-8{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
@media (min-width:992px){
.col-md-4,.col-md-8{float:left;}
.col-md-8{width:66.66666667%;}
.col-md-4{width:33.33333333%;}
}
@media (min-width:1200px){
.col-lg-4,.col-lg-8{float:left;}
.col-lg-8{width:66.66666667%;}
.col-lg-4{width:33.33333333%;}
}
table{max-width:100%;background-color:transparent;}
label{display:inline-block;margin-bottom:5px;font-weight:700;}
input[type=radio]{margin:4px 0 0;margin-top:1px \9;line-height:normal;}
input[type=radio]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.badge{display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:700;color:#fff;line-height:1;vertical-align:baseline;white-space:nowrap;text-align:center;background-color:#999;border-radius:10px;}
.badge:empty{display:none;}
.progress{overflow:hidden;height:20px;margin-bottom:20px;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1);}
.progress-bar{float:left;width:0;height:100%;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#428bca;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition:width .6s ease;transition:width .6s ease;}
.clearfix:before,.clearfix:after,.container:before,.container:after,.row:before,.row:after{content:" ";display:table;}
.clearfix:after,.container:after,.row:after{clear:both;}
.pull-right{float:right!important;}
.pull-left{float:left!important;}
/*! CSS Used from: http://forum.azyrusthemes.com/css/custom.css */
a{color:#363838;}
a:hover{color:#989c9e;}
.avatar{position:relative;}
.avatar img{border-radius:50%;}
.avatar .status{position:absolute;right:0;top:0;width:12px;height:12px;line-height:12px;border-radius:50%;border:solid 2px #ffffff;}
.avatar .green{background-color:#80d3ab;}
.avatar .red{background-color:#f27777;}
.avatar .yellow{background-color:#ecd346;}
.sidebarblock{background-color:#ffffff;border-radius:2px;box-shadow:0 1px 2px #c9cccd;margin-bottom:20px;}
.sidebarblock h3{color:#363838;font-size:14px;font-family:'Open Sans Bold', sans-serif;margin:0;padding:20px;}
.sidebarblock .divline{height:1px;line-height:1px;border-bottom:solid 1px #f1f1f1;}
.sidebarblock .blocktxt{padding:20px;}
ul.cats li{list-style:none;display:block;margin:0;padding:0;line-height:30px;}
ul.cats{margin:0;padding:0;}
ul.cats li a{font-size:14px;color:#363838;font-family:'Open Sans Light', sans-serif;line-height:30px;}
ul.cats .badge{background-color:#bdc3c7;font-size:12px;color:#ffffff;font-family:'Open Sans Bold', sans-serif;margin-top:7px;}
.sidebarblock .blocktxt{font-size:14px;color:#363838;font-family:'Open Sans Light', sans-serif;}
.sidebarblock .blocktxt .smal{font-size:12px;}
.chbox{width:50px;}
table.poll{width:100%;}
.progress-bar.color1{background-color:#9b59b6;}
.progress-bar.color2{background-color:#3498db;}
.progress-bar.color3{background-color:#e67e22;}
.progress-bar{font-size:14px;color:#ffffff;font-family:'Open Sans Bold', sans-serif;line-height:31px;text-align:left;padding-left:10px;box-shadow:none;}
.progress{background-color:#ecf0f1;height:31px;border-radius:2px;box-shadow:none;}
.poll label{margin-bottom:0;margin-left:20px;}
.poll input[type="radio"]{display:none;}
.poll input[type="radio"] + label{display:inline-block;width:31px;height:31px;background:url(http://forum.azyrusthemes.com/images/radio.jpg) 0 0 no-repeat;vertical-align:middle;cursor:pointer;}
.poll input[type="radio"]:checked + label{background:url(http://forum.azyrusthemes.com/images/radio.jpg) -31px 0 no-repeat;}
td.chbox{vertical-align:top;}
.post{background-color:#ffffff;border-radius:2px;box-shadow:0 1px 2px #c9cccd;margin-bottom:20px;}
.post .wrap-ut{width:85%;}
.post .userinfo{width:15%;padding:20px 0 15px 15px;}
.post .posttext{width:85%;padding-right:30px;padding-top:20px;padding-bottom:15px;color:#989c9e;font-size:14px;font-family:'Open Sans Light', sans-serif;line-height:25px;}
.post .postinfo{width:15%;border-left:solid 1px #f1f1f1;}
.post .avatar{width:37px;margin-left:5px;}
.post .icons{width:48px;border-top:solid 1px #f1f1f1;margin-top:12px;padding-top:7px;}
.post h2{color:#363838;font-size:18px;font-family:'Open Sans', sans-serif;margin-top:10px;margin-bottom:10px;}
.post .comments{border-bottom:solid 1px #f1f1f1;padding:18px 0 25px 0;text-align:center;}
.post .comments .commentbg{background-color:#bdc3c7;border-radius:2px;display:inline-block;padding:12px 17px;color:#ffffff;font-size:14px;font-family:'Open Sans Bold', sans-serif;position:relative;}
.post .comments .commentbg .mark{width:11px;height:11px;background-color:#bdc3c7;position:absolute;bottom:0;left:43%;margin-bottom:-5px;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.post .views{border-bottom:solid 1px #f1f1f1;color:#9da6aa;font-size:12px;font-family:'Open Sans Regular', sans-serif;text-align:center;line-height:29px;}
.post .views i{font-size:14px;}
.post .time{color:#9da6aa;font-size:12px;font-family:'Open Sans Regular', sans-serif;text-align:center;line-height:29px;}
.post .time i{font-size:14px;}
@media (max-width: 767px){
.post .userinfo{width:30%;padding:15px 0 15px 15px;}
.post .posttext{width:70%;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.post .comments .commentbg{font-size:12px;padding:7px;min-width:35px;}
.post .time i{display:block;margin-top:5px;}
.post .views i{display:block;margin-top:5px;}
.post .comments .commentbg .mark{left:36%;}
}
@media (min-width: 768px) and (max-width: 991px){
.post .userinfo{width:15%;padding:15px 0 15px 15px;}
.post .posttext{width:85%;padding-right:15px;padding-top:15px;padding-bottom:15px;}
.post .comments .commentbg{font-size:12px;padding:7px;min-width:35px;}
.post .time i{display:block;margin-top:5px;}
.post .views i{display:block;margin-top:5px;}
.post .comments .commentbg .mark{left:36%;}
}
@media (min-width: 1201px){
.container{padding:0;}
}
/*! CSS Used from: http://forum.azyrusthemes.com/font-awesome-4.0.3/css/font-awesome.min.css */
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pull-right{float:right;}
.pull-left{float:left;}
.fa-clock-o:before{content:"\f017";}
.fa-eye:before{content:"\f06e";}
/*! CSS Used fontfaces */
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hmIqOjjg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hvIqOjjg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hnIqOjjg.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hoIqOjjg.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hkIqOjjg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hlIqOjjg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:300;src:local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0ddc1UAw.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Vdc1UAw.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0adc1UAw.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Wdc1UAw.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Xdc1UAw.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:400;src:local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhmIqOjjg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhvIqOjjg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhnIqOjjg.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhoIqOjjg.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhkIqOjjg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhlIqOjjg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:600;src:local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhmIqOjjg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhvIqOjjg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhnIqOjjg.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhoIqOjjg.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhkIqOjjg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhlIqOjjg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:700;src:local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hmIqOjjg.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hvIqOjjg.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hnIqOjjg.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hoIqOjjg.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hkIqOjjg.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hlIqOjjg.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:italic;font-weight:800;src:local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:800;src:local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'FontAwesome';src:url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');src:url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.eot#iefix&v=4.0.3') format('embedded-opentype'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}














/*! CSS Used from: http://forum.azyrusthemes.com/css/bootstrap.min.css */
a{background:0 0;}
a:active,a:hover{outline:0;}
b{font-weight:700;}
img{border:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
@media print{
*{text-shadow:none!important;color:#000!important;background:transparent!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
ul{margin-top:0;margin-bottom:10px;}
.col-md-4,.col-lg-4,.col-sm-5,.col-xs-12{position:relative;min-height:1px;padding-left:15px;padding-right:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width:768px){
.col-sm-5{float:left;}
.col-sm-5{width:41.66666667%;}
}
@media (min-width:992px){
.col-md-4{float:left;}
.col-md-4{width:33.33333333%;}
}
@media (min-width:1200px){
.col-lg-4{float:left;}
.col-lg-4{width:33.33333333%;}
}
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125);}
.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;background-color:#3276b1;border-color:#285e8e;}
.btn-primary:active{background-image:none;}
.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent;}
.dropdown{position:relative;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);background-clip:padding-box;}
.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap;}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.pull-left{float:left!important;}
/*! CSS Used from: http://forum.azyrusthemes.com/css/custom.css */
a{color:#363838;}
a:hover{color:#989c9e;}
.avt{margin-top:16px;height:38px;}
.avt button{height:38px;border:none;box-shadow:none;color:#ffffff;font-size:14px;font-family:'Open Sans Bold', sans-serif;padding-left:30px;padding-right:30px;background-color:#1abc9c;}
.avt .btn-primary:hover,.avt .btn-primary:focus,.avt .btn-primary:active{background-color:#1abc9c;border:none;box-shadow:none;}
.env{font-size:18px;color:#cfd5d7;line-height:38px;padding:0 20px;}
.avatar{position:relative;}
.avatar img{border-radius:50%;}
.avatar .status{position:absolute;right:0;top:0;width:12px;height:12px;line-height:12px;border-radius:50%;border:solid 2px #ffffff;}
.dropdown.avatar .status{right:14px;}
.avatar .green{background-color:#80d3ab;}
.btn-primary{background-color:#1abc9c;box-shadow:none;border-radius:2px;padding:10px 15px;color:#ffffff;font-size:14px;font-family:'Open Sans Bold', sans-serif;border:none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{border:none;background-color:#20e1bb;box-shadow:none;}
@media (max-width: 767px){
.avt{height:auto;margin-bottom:15px;}
.avatar .dropdown-menu{left:auto;right:0;}
.dropdown.avatar .status{right:14px;}
.dropdown.avatar b.caret{color:#363838;}
}
@media (min-width: 768px) and (max-width: 991px){
.avt{height:auto;margin-bottom:15px;}
.avatar .dropdown-menu{left:auto;right:0;}
.dropdown.avatar .status{right:14px;}
.dropdown.avatar b.caret{color:#363838;}
}
@media (min-width: 992px) and (max-width: 1200px){
.avatar .dropdown-menu{left:auto;right:0;}
}
/*! CSS Used from: http://forum.azyrusthemes.com/font-awesome-4.0.3/css/font-awesome.min.css */
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pull-left{float:left;}
.fa-envelope:before{content:"\f0e0";}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.eot?v=4.0.3');src:url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.eot#iefix&v=4.0.3') format('embedded-opentype'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('http://forum.azyrusthemes.com/font-awesome-4.0.3/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}











*, *:after, *:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}





.container {
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* ----------------------------------- */
/* Home */
/* ----------------------------------- */
.df-content-wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
}

.df-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("http://lorempicsum.com/nemo/1600/800/6") center center;
  background-size: cover;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.df-content > * {
  position: relative;
  z-index: 10;
}

.df-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.2) 0%, #fff 95%);
}

/********************
Content
*********************/
.df-main {
  text-align: center;
  padding: 20px;
}

.df-contact {
  background: #60bfdc;
  color: #fff;
  width:200px;
  padding: 5px 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------- */
/* Details */
/* ----------------------------------- */
html.df-modal-active {
  overflow: hidden;
}

.df-modal {
  position: fixed;
  z-index: -999;
}

.df-modal .df-modal-overlay {
  opacity: 0;
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.df-modal .df-modal-content {
  transform: translate3d(0, -200%, 0);
  transition: all 500ms ease;
  text-align: center;
  position: fixed;
  top: 25vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  max-width: 100%;
  max-height: 85vh;
  overflow-y: auto;
  background: #fff;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.df-modal .df-modal-content h2 {
  margin: 0;
  text-transform: uppercase;
  color: #60bfdc;
}

.df-modal .df-modal-content p {
  margin: 0 0 20px 0;
  font-weight: 300;
}

.df-modal-active .df-modal .df-modal-overlay {
  opacity: 1;
}

.df-modal-active .df-modal .df-modal-content {
  transform: translate3d(0, 0, 0);
}

/* ----------------------------------- */
/* FORMULAIRE */
/* ----------------------------------- */
.df-input-box {
  position: relative;
}

.df-form input[type="email"],
.df-form input[type="input"],
.df-form select,
.df-form textarea {
  width: 100%;
  padding: 15px;
  display: block;
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  background: #e6f5fa;
  color: black;
}

.df-form input[type="submit"] {
  display: block;
  border-radius: 2px;
  width: 100%;
  border: 0;
  margin: 20px 0 0 0;
  background-color: #60bfdc;
  padding: 15px 0;
}

.df-form input:focus,
.df-form textarea:focus {
  color: black;
}

.df-form input:required ~ label,
.df-form input:focus:valid ~ label,
.df-form input:focus:invalid ~ label,
.df-form textarea:required ~ label,
.df-form textarea:focus:valid ~ label,
.df-form textarea:focus:invalid ~ label {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.df-form input:required:focus:valid ~ label::before,
.df-form input:focus:valid ~ label::before,
.df-form textarea:required:focus:valid ~ label::before,
/* .df-form textarea:focus:valid ~ label::before {
  content: '!';
  color: #4f934f;
  font-size: 1.5em;
} */

.df-form input:required:valid ~ label::before,
.df-form textarea:required:valid ~ label::before {
  color: #4f934f;
}

.df-form input:required:focus ~ label::before,
.df-form input:focus:invalid ~ label::before,
.df-form textarea:required:focus ~ label::before,
.df-form textarea:focus:invalid ~ label::before {
  content: '*';
  color: #60bfdc;
  font-size: 0.5em;
}


.alert {
    margin-top: 20%;
    width: 39%;
    float: right;
}


    </style>
    <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>
  <body style="width:100%">
    <nav id="nav" style="z-index:15;border:none;" class="navpic">
    <div class="logo">
      <span id="wander">LITTLEONE</span>
    </div>
    <div class="menu"  style="overflow:visible!important;">
      <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
        <center>
          <% if(user.type=='user'){%>
            <li><a class="items" href="/user/home"><i class="fas fa-home"></i></a></li>

            <%}else if(user.type=='doctor'){%>
              <li><a class="items" href="/doc/home"><i class="fas fa-home"></i></a></li>

            <%}else if(user.type=='counselor'){%>
              <li><a class="items" href="/co/home"><i class="fas fa-home"></i></a></li>

            <%}%>
         <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
         <li><a class="items" href="/forum"><i class="fa fa-quora"></i></a></li>

         <li class="dropdown">
           <i class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
             <!-- <button style="color:grey;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             </button> -->
             <div style="min-width:23rem;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <!-- <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a> -->
               <% if(user.notifications) {%>
                   <div class="px-3 py-3">
                     <h6 class="text-sm text-muted m-0">You have <strong class="text-primary"><%=user.notifications.length%></strong> notifications.</h6>
                   </div>

                   <div class="list-group list-group-flush" id="notifications" style="overflow-y:auto!important;max-height:400px!important;">

               <% for(i=0;i < user.notifications.length;i++ ){ %>
                   <a href="#" onclick="noti('<%=user.notifications[i]._id%>','<%=user.notifications[i].img %>','<%=user.notifications[i].senderid %>','<%=user.notifications[i].sender_type %>')"  class="list-group-item list-group-item-action">


                       <div id="<%=user.notifications[i]._id%>"class="row align-items-center">
                         <div class="col-auto">
                           <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="notifimg rounded-circle">

                         </div>
                         <div class="col" style="width:100%;margin-top:-2%!important;padding-left:!important;margin-left:-5%">
                               <h6 style="color: #32325d!important;" class=""><strong><%=user.notifications[i].username%></strong></h6>
                           <p style="text-transform:lowercase!important;line-height:1.1!important;margin-bottom:-3%" class=""><%=user.notifications[i].msg%>

                                 <i class="fas fa-trash"></i>

  </p>

                         </div>


                       </div>
                     </a>
                     <%} %>

                   </div>
                     <%}else{ %>
                       <p>No Notifications</p>
                     <%}%>

             </div>
         </li>
         <li class="dropdown" style="margin-left:-4%;">
             <button style="color:white;font-size:16px;margin-top:-2%;" class="items btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i style="font-size:18px;" class="items far fa-user-circle"><small><b><%= user.name %></b></small></i>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <% if(user.type=='user'){%>
                 <a style="padding-top:2px;" class="dropdown-item" href="/user/profile">Profile</a>
                 <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
                 <%}else if(user.type=='doctor'){%>
                   <a style="padding-top:2px;" class="dropdown-item" href="/doc/home#edit">Profile</a>
                   <a style="padding-top:2px;" class="dropdown-item" href="/docs/logout">Logout</a>
                 <%}else if(user.type=='counselor'){%>
                   <a style="padding-top:2px;" class="dropdown-item" href="/co/home#edit">Profile</a>
                   <a style="padding-top:2px;" class="dropdown-item" href="/cos/logout">Logout</a>
                 <%}%>

             </div>
         </li>
       </center>
      </ul>
    </div>
  </nav>

<div id="background">
  <center>
    <h2 style="color:white;padding-top:13%">Forums</h2>
    <!-- <p style="margin-top:-17%;margin-bottom:15%;color:white;font-size:40px;">MomsCare Blog</p> -->
  </center>
  <%- include ('partials/messages.ejs') %>

</div>














<div style="margin-top:5%" class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">


                          <% forums.forEach(function(item,index){ %>

                                  <!-- POST -->
                                  <div class="post">
                                      <div class="wrap-ut pull-left">
                                          <div class="userinfo pull-left">
                                              <div class="avatar">
                                                    <img src="<%=item.img.path%>" alt="" style="width:100%;height:100%">
                                                  <div class="status green">&nbsp;</div>
                                              </div>


                                          </div>
                                          <div class="posttext pull-left">
                                              <h2><a href="/forum/one/<%=item._id%>"><%=item.title%></a></h2>
                                              <p><%=item.question%></p>
                                          </div>
                                          <div class="clearfix"></div>
                                      </div>
                                      <div class="postinfo pull-left">
                                          <div class="comments">
                                              <div class="commentbg">
                                                  <%=item.answers.length%>
                                                  <div class="mark"></div>
                                              </div>

                                          </div>
                                          <!-- <div class="views"><i class="fa fa-eye"></i> 1,568</div> -->
                                          <!-- <div class="time"><i class="fa fa-clock-o"></i> 24 min</div> -->
                                      </div>
                                        <div class="clearfix"></div>
                                  </div><!-- POST -->
                                <% }); %>





                        </div>
                        <div class="col-lg-4 col-md-4">

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>Categories</h3>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <ul class="cats">
                                        <li><a href="/forum">All <span class="badge pull-right"><%=all%></span></a></li>
                                        <li><a href="/forum/pregnancy">Pregnancy <span class="badge pull-right"><%=pregnancy%></span></a></li>
                                        <li><a href="/forum/baby">Baby (0-12 months) <span class="badge pull-right"><%=baby%></span></a></li>
                                        <li><a href="/forum/toddler">Toddler (12-36 months) <span class="badge pull-right"><%=toddler%></span></a></li>
                                        <li><a href="/forum/babynames">Baby names <span class="badge pull-right"><%=babynames%></span></a></li>
                                        <li><a href="/forum/parenting">Parenting <span class="badge pull-right"><%=parenting%></span></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- -->
                            <div style="height:13%" class="sidebarblock">
                                <h3>Post Your questions</h3>
                                <div class="divline"></div>
                                <br>
                                <a style="margin-left:30%;"href="#" id="df-contact" class="df-contact">Ask Question</a>

                                <div class="col-lg-4 col-xs-12 col-sm-5 col-md-4 avt">
                            <div class="stnt pull-left">

                                <div class="df-content-wrapper">
                                    <div class="df-content">

                                            <div class="df-modal">
                                                <div class="df-modal-overlay"></div>
                                                <div class="df-modal-content" style="width:30%;height:65%">
                                                  <br><br>
                                                    <h2>Post your question</h2>
                                                    <p style="color:black">Fill your question details</p>

                                                    <form action="/forum" method="post" class="df-form">
                                                        <div class="df-input-box" >
                                                          <select name="topic">
                                                            <!-- <option value="volvo">--select topic--</option> -->
                                                            <option value="pregnancy">Pregnancy</option>
                                                            <option value="baby">Baby</option>
                                                            <option value="parenting">Parenting</option>
                                                            <option value="toddler">Toddler</option>
                                                            <option value="babynames">Baby Names</option>
                                                          </select>
                                                        <label for="topic"></label>
                                                        </div>
                                                        <div class="df-input-box" style="margin-top:-5%">
                                                            <input type="input" name="title" placeholder="Title..." required>
                                                            <label for="title"></label>
                                                        </div>

                                                        <div class="df-input-box">
                                                            <textarea rows="4" cols="50" name="question" placeholder="Ask question..." required></textarea>
                                                            <label for="question"></label>
                                                        </div>
                                                        <input type="submit" value="SUBMIT" />
                                                    </form>
                                                </div>
                                            </div>
                                        <script src="vendor/jquery-2.1.4.js"></script>
                                        <script src="js/main.js"></script>

                                    </div>
                                </div>
                            </div>

                        </div>
                            </div>

                            <!-- -->
                            <div class="sidebarblock">
                                <h3>My Active Threads</h3>
                                <% active.forEach(function(item,index){ %>
                                <div class="divline"></div>
                                <div class="blocktxt">
                                    <a href="/forum/one/<%=item._id%>"><%=item.question%></a>
                                </div>



                                <%})%>
                            </div>


                        </div>
                    </div>
                </div>


  <script>
    window.onscroll = function(){
 var navbar = document.getElementById('nav')
 var wander = document.getElementById('wander')
 var items = document.getElementsByClassName('items')
 var count = document.getElementById('count')
  var btn = document.getElementById('dropdownMenuButton')
  var ul = document.getElementById('ul')

 if (window.pageYOffset < 250){
  navbar.style.background = "rgba(0, 0, 0, 0)";
    navbar.style.boxShadow = 'none';
  wander.style.color = "#ffffff";
    wander.style.marginTop = "35px"
    ul.style.marginTop = "1.7%";
    btn.style.color = '#ffffff';
  for(var i=0; i<items.length; i++){
   items[i].style.color = "#ffffff";
   items[i].onmouseover = function(){
    items[i].style.color = "#06b995";
   }
  }
 } else {
  navbar.style.background = '#fff';
    navbar.style.boxShadow = "0 4px 4px -2px #495057";
  wander.style.color = "#60bfdc";
    btn.style.color = '#60bfdc';
    wander.style.marginTop = "17px"
    ul.style.marginTop = "0.4%";
  for(var i=0; i<items.length; i++){
   items[i].style.color = "#60bfdc";
   items[i].onmouseover = function(){
    items[i].style.color = "black";
   }
  }
 }
}

  </script>

  <script>
  $('#df-contact').click(function() {
$('.df-modal').css('z-index', '999');
$('html').addClass('df-modal-active');
});

$('.df-modal-overlay').click(function() {
$('html').removeClass('df-modal-active');
setTimeout(function() {
  $('.df-modal').css('z-index', '-999')
}, 500);
});
  </script>
  </body>
</html>
