<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/styles/doc/calendar.css"> -->
    <link rel="stylesheet" href="/styles/pregnancy_home.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title></title>

    <style>
      #wander {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 35px 150px;
  color: #fff;
  font-weight: 600 !important ;
  font-size: 14px;
  letter-spacing: 2px;
  transition: 1s;
  font-weight: bold;
  font-size:20px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 1000;
  overflow-y: visible;
  border-bottom: 1px solid #f2f2f2;
  border-width: thin;
  padding: 10px;
  transition: background 300ms linear;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.notifimg{
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 50%;
    height: 48px;
    width: 48px
  }
  .items{
    font-size:18px;
  }

#background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://www.currae.com/wp-content/uploads/2019/12/care-in-pregnancy-scaled.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}










/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/cache/asset-cleanup/css/item/dt-sc-css-v5.3.2-225aab82be2067937d3fed1c24ebe2df0341721c.css ; media=all */
@media all{
ul.dt-sc-tabs-horizontal-frame{float:left;margin:0;padding:0;width:100%;border-bottom:1px solid;}
ul.dt-sc-tabs-horizontal-frame>li{float:left;display:inline;margin:0 -1px 0 0;padding:0;}
ul.dt-sc-tabs-horizontal-frame>li>a{border:1px solid transparent;float:left;margin:0 -1px -1px 0;padding:10px 20px;font-size:18px;text-align:center;border-radius:3px 3px 0 0;}
ul.dt-sc-tabs-horizontal-frame>li>a.current{position:relative;z-index:1;}
ul.dt-sc-tabs-horizontal-frame>li>a>span{float:left;line-height:inherit;margin:0 10px 0 0;position:relative;}
.dt-sc-tabs-horizontal-frame-content{float:left;clear:both;width:100%;margin:0;padding:30px 0 0;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame{text-align:center;border-bottom:1px solid rgba(0,0,0,.1);margin-top:15px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li{display:inline-block;text-align:center;margin:0 0 0 0;float:none;position:relative;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{font-size:16px;text-transform:uppercase;padding:120px 30px 25px;border:0;border-bottom:2px solid transparent;margin:0 0 -8px;color:rgba(0,0,0,.4);border-radius:0;display:inline-block;min-width:229px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a>span{font-size:36px;color:rgba(0,0,0,.4);width:100%;top:0;line-height:80px;position:absolute;left:0;right:0;margin:auto;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a>span:after{content:"";position:absolute;width:80px;height:80px;left:0;top:0;right:0;margin:auto;background:rgba(0,0,0,.05);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);z-index:-1;border-radius:10px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a.current>span{color:#fff;}
.dt-sc-tabs-horizontal-frame-container.type4 .dt-sc-tabs-horizontal-frame-content{padding-top:50px;}
ul.dt-sc-tabs-horizontal-frame>li>a{color:rgba(0,0,0,.4);}
ul.dt-sc-tabs-horizontal-frame>li>a.current{border-color:rgba(0,0,0,.1);}
ul.dt-sc-tabs-horizontal-frame{border-bottom-color:rgba(0,0,0,.1);}
ul.dt-sc-tabs-horizontal-frame>li>a.current{border-bottom-color:#fff;}
@media only screen and (min-width:992px) and (max-width:1199px){
ul.dt-sc-tabs-horizontal-frame>li>a{font-size:14px;}
ul.dt-sc-tabs-horizontal-frame>li>a{padding:10px 15px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{font-size:14px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{min-width:25%;}
}
@media only screen and (min-width:768px) and (max-width:991px){
ul.dt-sc-tabs-horizontal-frame>li>a{font-size:13px;}
ul.dt-sc-tabs-horizontal-frame>li>a{padding:10px 15px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{font-size:13px;min-width:25%;}
}
@media only screen and (max-width:767px){
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li{text-align:center;width:100%;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{display:inline-block;float:none;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame{border:none;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li{margin:0 0 35px;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a{margin:0 0 -1px;min-width:60%;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li{border-bottom:1px solid rgba(0,0,0,.08);}
}
@media only screen and (min-width:480px) and (max-width:767px){
ul.dt-sc-tabs-horizontal-frame>li>a{font-size:11px;padding:10px 15px 15px;}
ul.dt-sc-tabs-horizontal-frame>li>a{padding:10px 15px;}
ul.dt-sc-tabs-horizontal-frame>li>a>span{top:7px;}
}
@media only screen and (max-width:479px){
.dt-sc-tabs-horizontal-frame-content .vc_row{margin-left:0;margin-right:0;}
ul.dt-sc-tabs-horizontal-frame{border:none;}
ul.dt-sc-tabs-horizontal-frame li{border-bottom:1px solid rgba(0,0,0,.1);text-align:center;width:100%;}
ul.dt-sc-tabs-horizontal-frame>li>a{display:inline-block;float:none;}
ul.dt-sc-tabs-horizontal-frame li{margin-bottom:10px;}
ul.dt-sc-tabs-horizontal-frame li:last-child{margin-bottom:0;}
}
@media only screen and (max-width:319px){
ul.dt-sc-tabs-horizontal-frame>li>a{font-size:12px;}
ul.dt-sc-tabs-horizontal-frame>li>a{padding:10px 15px;}
}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=5.1.1 ; media=all */
@media all{
.vc_column-inner::after,.vc_row:after{clear:both;}
.vc_row:after,.vc_row:before{content:" ";display:table;}
.vc_column_container1{width:100%;}
.vc_row{margin-left:-15px;margin-right:-15px;}
.vc_col-sm-12,.vc_col-sm-4,.vc_col-sm-8{position:relative;min-height:1px;padding-left:15px;padding-right:15px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@media (min-width:768px){
.vc_col-sm-12,.vc_col-sm-4,.vc_col-sm-8{float:left;}
.vc_col-sm-12{width:100%;}
.vc_col-sm-8{width:66.66666667%;}
.vc_col-sm-4{width:33.33333333%;}
.vc_col-sm-offset-2{margin-left:16.66666667%;}
}
@media (min-width:992px){
.vc_col-md-offset-0{margin-left:0;}
}
@media (min-width:1200px){
.vc_col-lg-offset-0{margin-left:0;}
}
.wpb_text_column :last-child,.wpb_text_column p:last-child{margin-bottom:0;}
.wpb_content_element{margin-bottom:35px;}
.vc_column-inner::after,.vc_column-inner::before{content:" ";display:table;}
.vc_column_container1{padding-left:0;padding-right:0;}
.vc_column_container1>.vc_column-inner{box-sizing:border-box;padding-left:15px;padding-right:15px;width:100%;}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/plugins/Ultimate_VC_Addons/assets/min-css/style.min.css?ver=3.16.12 ; media=all */
@media all{
.vc_row,.wpb_column,.wpb_row{position:relative;}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/cache/asset-cleanup/css/item/_prefix_handler-base-v1.0-816b55a4daeb8ceb280aa00b297ae1ee36b983e0.css ; media=all */
@media all{
div,span,p,a,img,strong,ul,li{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline;}
ul{list-style:none;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a{-webkit-transition:all 0.3s linear;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-ms-transition:all 0.3s linear;transition:all 0.3s linear;}
a{text-decoration:none;}
p{margin-bottom:10px;}
strong{font-weight:700;}
ul{margin-bottom:20px;}
ul{list-style-type:square;list-style-position:inside;}
ul li{padding-bottom:10px;}
ul li:last-child{padding-bottom:0;}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;text-align:center;}
.aligncenter{margin:auto;}
.vc_column_container1 img,.wpb_column img{max-width:100%;height:auto;display:inherit;}
img{max-width:100%;height:auto;}
.vc_empty_space{clear:both;float:none;}
a:hover{color:#2c2c2c;}
a{color:#4d4d4d;}
::-webkit-input-placeholder{color:#2c2c2c;}
::-moz-placeholder{color:#2c2c2c;}
:-ms-input-placeholder{color:#2c2c2c;}
:-moz-placeholder{color:#2c2c2c;}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/cache/asset-cleanup/css/item/_prefix_handler-grid-v1.0-38f83402622d4d488ca05e5863fe3d6d30d831fa.css ; media=all */
@media all{
@media only screen and (min-width:768px) and (max-width:991px){
.wpb_column.rs_col-sm-12{width:100%;}
.wpb_column.rs_col-sm-8{width:66.66666667%;}
.rs_col-sm-12.wpb_column,.rs_col-sm-8.wpb_column{padding-bottom:25px;}
.rs_col-sm-12.wpb_column:last-child,.rs_col-sm-8.wpb_column:last-child{padding-bottom:0;}
}
@media only screen and (max-width:767px){
.wpb_column .wpb_column{padding:0;}
.wpb_column{float:left;width:100%;}
.wpb_column{margin-bottom:20px;}
}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/themes/src/css/material-design-iconic-font.min.css?ver=5.3.2 ; media=all */
@media all{
.zmdi{display:inline-block;font:normal normal normal 14px/1 'Material-Design-Iconic-Font';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.zmdi-hc-fw{width:1.28571429em;text-align:center;}
.zmdi-globe:before{content:'\f173';}
.zmdi-hospital:before{content:'\f177';}
.zmdi-dot-circle:before{content:'\f26f';}
.zmdi-globe:before{content:'\f173';}
.zmdi-hospital:before{content:'\f177';}
.zmdi-dot-circle:before{content:'\f26f';}
}
/*! CSS Used from: https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/cache/asset-cleanup/css/item/_prefix_handler-woo-v1.0-0028bcbbdb47f501af589e5dfe50a28c3c246b5c.css ; media=all */
@media all{
::-webkit-input-placeholder{color:inherit;}
:-moz-placeholder{color:inherit;opacity:1;filter:alpha(opacity=100);}
::-moz-placeholder{color:inherit;opacity:1;filter:alpha(opacity=100);}
:-ms-input-placeholder{color:inherit;}
}
/*! CSS Used from: Embedded */
a{color:#5CD2D2;}
ul.dt-sc-tabs-horizontal-frame>li>a.current,ul.dt-sc-tabs-horizontal-frame>li>a:hover{color:#5CD2D2;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a.current>span:after{background-color:#5CD2D2;}
.dt-sc-tabs-horizontal-frame-container.type4 ul.dt-sc-tabs-horizontal-frame>li>a.current{border-bottom-color:#5CD2D2;}
/*! CSS Used from: Embedded */
.vc_custom_1462423970786{margin-top:-58px!important;}
/*! CSS Used fontfaces */
@font-face{font-family:Material-Design-Iconic-Font;src:url(https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/themes/src/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/themes/src/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/themes/src/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');}









/*! CSS Used from: https://livedemo00.template-help.com/wt_51406/css/grid.css */
div,p,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;}
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
.container1{margin-right:auto;margin-left:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container1:before,.container1:after{display:table;content:"";line-height:0;}
.container1:after{clear:both;}
@media (min-width:980px) and (max-width:1199px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
}
@media (min-width:768px) and (max-width:979px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container1{width:748px;}
.grid_8{width:492px;}
.grid_4{width:236px;}
}
@media (max-width:767px){
.container1{width:420px;padding:0 0;}
.row{margin-left:0;}
[class*=grid_]{float:none;display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}
@media (max-width:479px){
.container1{width:300px;padding:0 15px;}
.row{margin-left:0;}
}
/*! CSS Used from: https://livedemo00.template-help.com/wt_51406/css/style.css */
/*! @import https://livedemo00.template-help.com/wt_51406/css/animate.css */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
/*! end @import */
*{-webkit-text-size-adjust:none;}
a{text-decoration:none;cursor:pointer;color:inherit;-webkit-transition:.4s all ease;transition:.4s all ease;}
a:hover{color:#4db9ca;text-decoration:none;}
.txt1{font:300 46px/46px 'Roboto',Arial,sans-serif;color:#fff;margin-top:32px;text-transform:uppercase;}
p{margin-top:23px;}
.more_btn{display:inline-block;margin-top:26px;padding:19px 16px;text-decoration:none;font:300 20px/24px "Roboto",Arial,sans-serif;color:#fff;background:#e66d64;text-transform:uppercase;border-radius:50px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;width:100%;max-width:100%;}
.more_btn:hover{color:#fff;background:#000;}
.box-1{position:relative;width:100%;margin-top:58px;padding:14px 0 38px;color:#b5e5dd;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url(https://livedemo00.template-help.com/wt_51406/images/bg1.png) #4cbbcf;margin-bottom:6px;}
@media only screen and (max-width:979px){
.txt1{font:300 30px/30px 'Roboto',Arial,sans-serif;margin-top:46px;}
}
@media only screen and (max-width:767px){
.txt1{margin-top:10px;}
.more_btn{margin-top:10px;}
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}





/*! CSS Used from: https://livedemo00.template-help.com/wt_51406/css/grid.css */
div,p,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:top;}
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container2{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
.container2{margin-right:auto;margin-left:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.container2:before,.container2:after{display:table;content:"";line-height:0;}
.container2:after{clear:both;}
@media (min-width:980px) and (max-width:1199px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container2{width:940px;}
.grid_8{width:620px;}
.grid_4{width:300px;}
}
@media (min-width:768px) and (max-width:979px){
.row{margin-left:-20px;}
.row:before,.row:after{display:table;content:"";line-height:0;}
.row:after{clear:both;}
[class*=grid_]{float:left;min-height:1px;margin-left:20px;}
.container2{width:748px;}
.grid_8{width:492px;}
.grid_4{width:236px;}
}
@media (max-width:767px){
.container2{width:420px;padding:0 0;}
.row{margin-left:0;}
[class*=grid_]{float:none;display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
}
@media (max-width:479px){
.container2{width:300px;padding:0 15px;}
.row{margin-left:0;}
}
/*! CSS Used from: https://livedemo00.template-help.com/wt_51406/css/style.css */
/*! @import https://livedemo00.template-help.com/wt_51406/css/animate.css */
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
/*! end @import */
*{-webkit-text-size-adjust:none;}
a{text-decoration:none;cursor:pointer;color:inherit;-webkit-transition:.4s all ease;transition:.4s all ease;}
a:hover{color:#4db9ca;text-decoration:none;}
.txt1{font:300 46px/46px 'Roboto',Arial,sans-serif;color:#fff;margin-top:32px;text-transform:uppercase;}
.color2{color:#000;}
p{margin-top:23px;}
.more_btn{display:inline-block;margin-top:26px;padding:19px 16px;text-decoration:none;font:300 20px/24px "Roboto",Arial,sans-serif;color:#fff;background:#e66d64;text-transform:uppercase;border-radius:50px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:center;width:100%;max-width:100%;}
.more_btn:hover{color:#fff;background:#000;}
.box-2{position:relative;width:100%;margin-top:54px;padding:14px 0 38px;color:#b5e5dd;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:url(https://livedemo00.template-help.com/wt_51406/images/bg2.png) #eaecea;margin-bottom:6px;}
@media only screen and (max-width:979px){
.txt1{font:300 30px/30px 'Roboto',Arial,sans-serif;margin-top:46px;}
}
@media only screen and (max-width:767px){
.txt1{margin-top:10px;}
.more_btn{margin-top:10px;}
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInUp{0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);}100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none;}}
/*! CSS Used fontfaces */
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}








/*! CSS Used from: https://fonts.googleapis.com/icon?family=Material+Icons */
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased;}
/*! CSS Used from: Embedded */
*{margin:0;padding:0;box-sizing:border-box;}
#todolist{margin:4rem auto;padding:2rem 3rem 3rem;max-width:500px;background:#17a2b8;color:#FFF;box-shadow:-20px -20px 0px 0px rgba(100,100,100,.1);}
#todolist h1{font-weight:normal;font-size:2.6rem;letter-spacing:0.05em;border-bottom:1px solid rgba(255,255,255,.3);}
#todolist h1 span{display:block;font-size:0.8rem;margin-bottom:0.7rem;margin-left:3px;margin-top:0.2rem;}
#todolist ul{margin-top:2.6rem;list-style:none;}
#todolist li{display:flex;margin:0 -3rem 5px;padding:1.1rem 5rem;justify-content:space-between;align-items:center;background:rgba(255,255,255,0.1);}
#todolist .actions{flex-shrink:0;padding-left:0.7em;}
#todolist .label{position:relative;transition:opacity .2s linear;}
#todolist .done .label{opacity:.6;}
#todolist .done .label:before{content:'';position:absolute;top:50%;left:-.5rem;display:block;width:0%;height:1px;background:#FFF;animation:strikeitem .3s ease-out 0s forwards;}
#todolist .btn-picto{border:none;background:none;-webkit-appearance:none;cursor:pointer;color:#FFF;}
form{margin-top:3rem;display:flex;flex-wrap:wrap;}
form label{min-width:100%;margin-bottom:.5rem;font-size:1.3rem;}
form input{flex-grow:1;border:none;background:#f7f1f1;padding:0 1.5em;font-size:initial;}
form button{padding:0 1.3rem;border:none;background:#17a2b8;color:white;text-transform:uppercase;font-weight:bold;border:1px solid rgba(255,255,255,.3);margin-left:5px;cursor:pointer;transition:background .2s ease-out;}
form button:hover{background:#FF5E5E;}
form input,form button{font-family:'Quicksand', sans-serif;height:3rem;}
.togglebutton-wrapper{margin-top:1em;}
.togglebutton-wrapper label{display:flex;justify-content:flex-end;align-items:center;}
.togglebutton-wrapper input{position:absolute;left:-9999px;}
.togglebutton-wrapper .togglebutton-label{font-size:.8rem;letter-spacing:.1em;}
.togglebutton-wrapper .tooglebutton-box{position:relative;display:block;margin-left:0.6em;width:38px;height:22px;background:white;border-radius:999px;cursor:pointer;}
.togglebutton-wrapper .tooglebutton-box:before{content:'';position:absolute;top:2px;left:2px;display:block;width:18px;height:18px;border-radius:50%;background:#17a2b8;opacity:0.7;transition:all .2s ease-in-out;}
/*! CSS Used keyframes */
@keyframes strikeitem{to{width:calc(100% + 1rem);}}
/*! CSS Used fontfaces */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');}
@font-face{font-family:'Quicksand';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58m-wi40.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Quicksand';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58i-wi40.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Quicksand';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-wg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}




.alert {
    margin-top: 20%;
    width: 39%;
    float: right;
}


    </style>

  </head>


  <body>

    <nav id="nav" style="z-index:15;border:none;" class="navpic">
    <div class="logo">
      <span id="wander">LITTLEONE</span>
    </div>
    <div class="menu"  style="overflow:visible!important;">
      <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
        <center>
         <li><a class="items" href="/user/home"><i class="fas fa-home"></i></a></li>
         <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
         <li><a class="items" href="/forum"><i class="fa fa-quora"></i></a></li>

         <li class="dropdown">
           <i class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
             <!-- <button style="color:grey;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             </button> -->
             <div style="min-width:23rem;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <!-- <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a> -->
               <% if(user.notifications) {%>
                   <div class="px-3 py-3">
                     <h6 class="text-sm text-muted m-0">You have <strong class="text-primary"><%=user.notifications.length%></strong> notifications.</h6>
                   </div>

                   <div class="list-group list-group-flush" id="notifications" style="overflow-y:auto!important;max-height:400px!important;">

               <% for(i=0;i < user.notifications.length;i++ ){ %>
                  <% if(user.notifications[i].typeid=='testimonial'){%>
                    <a href="#" onclick="noti('<%=user.notifications[i]._id%>','<%=user.notifications[i].img %>','<%=user.notifications[i].senderid %>','<%=user.notifications[i].sender_type %>')" data-toggle="modal" data-target="#myModal" class="list-group-item list-group-item-action">


                        <div id="<%=user.notifications[i]._id%>"class="row align-items-center">
                          <div class="col-auto">
                            <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="notifimg rounded-circle">

                          </div>
                          <div class="col" style="width:100%;margin-top:-2%!important;padding-left:!important">
                                <h6 style="color: #32325d!important;" class=""><strong><%=user.notifications[i].username%></strong></h6>
                            <p style="text-transform:lowercase!important;line-height:1.1!important;margin-bottom:-3%" class=""><%=user.notifications[i].msg%></p>

                          </div>


                        </div>
                      </a>
                   <%}%>

                   <% if(user.notifications[i].typeid!='testimonial'){%>

                     <a href="#" onclick="noti('<%=user.notifications[i]._id%>','<%=user.notifications[i].img %>','<%=user.notifications[i].senderid %>','<%=user.notifications[i].sender_type %>')"  class="list-group-item list-group-item-action">


                         <div id="<%=user.notifications[i]._id%>"class="row align-items-center">
                           <div class="col-auto">
                             <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="notifimg rounded-circle">

                           </div>
                           <div class="col" style="width:100%;margin-top:-2%!important;padding-left:!important">
                                 <h6 style="color: #32325d!important;" class=""><strong><%=user.notifications[i].username%></strong></h6>
                             <p style="text-transform:lowercase!important;line-height:1.1!important;margin-bottom:-3%" class=""><%=user.notifications[i].msg%>

                                   <i class="fas fa-trash"></i>

  </p>

                           </div>


                         </div>
                       </a>
                    <%}%>

                     <%} %>

                   </div>
                     <%}else{ %>
                       <p>No Notifications</p>
                     <%}%>

             </div>
         </li>
         <li class="dropdown" style="margin-left:-4%;">
             <button style="color:white;font-size:16px;margin-top:-2%;" class="items btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i style="font-size:18px;" class="items far fa-user-circle"><small><b><%=user.name%></b></small></i>
             </button>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
               <a style="padding-top:2px;" class="dropdown-item" href="/user/profile">Profile</a>
               <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
             </div>
         </li>
       </center>
      </ul>
    </div>
  </nav>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <div class="modal-content" style="background-color: #DDDDDD;background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4) 75%), url('https://lstore.graphics/paaatterns/images/Waiau-3-p-1080.jpeg');background-size:contain;background-position:150% 100%;background-repeat:no-repeat;">
        <div class="modal-header">
          <!-- <h4 class="modal-title">Testimonial</h4> -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table style="width:100%;padding:3%;">
            <tr>
              <td style="width:38%;padding-top:3%;padding-bottom: 1.5%;text-align:center;">
                <img style="width:30vh;height:30vh;border-radius:3px;box-shadow:0 10px 25px 0 rgba(0,0,0,.3);"  id="testmodelimg" alt="Raised Image" class="rounded img-raised">
                <div id="senderid">

                </div>
              </td>
              <td style="width:58%;">
                <h1 style="color:#919293;">Testimonial</h1>

                <form action="/user/testimonial/" method="POST">
                  <input style="display: none;" type="text" id="testusername" name="usermail" value="">
                  <input style="display: none;" type="text" id="sender_type" name="sender_type" value="">
                  <input style="display: none" type="text" id="sender" name="senderid" value="">
                  <div class="form-group" style="margin-top:5%;">
                    <label for="exampleFormControlTextarea1">Your Feedback</label>
                    <textarea style="width:400px;" name="text" placeholder="Give your feedback please..." class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                  <br>
                  <input style="float:right;margin-top:35%" class="btn btn-success btn-sm" type="submit" name="submit" value="Submit">
                </form>
              </td>
            </tr>
          </table>
          <!-- <div class="modal-footer" style="border-top:none;">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>

    </div>
  </div>

  <div id="background">
    <center>
      <h2 style="color:white;padding-top:13%">Pregnancy Care</h2>
      <!-- <p style="margin-top:-17%;margin-bottom:15%;color:white;font-size:40px;">MomsCare Blog</p> -->
    </center>
    <%- include ('partials/messages.ejs') %>

  </div>
















  <!-- <div class="wpb_column vc_column_container1 vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5e68eae3dd792" data-id="5e68eae3dd792" data-height="125" data-height-mobile="125" data-height-tab="125" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div></div></div></div> -->


<div style="padding-left:70px ;margin-top:100px;">
  <div class="wpb_column vc_column_container1 vc_col-sm-12">
    <div class="vc_column-inner vc_custom_1462423970786">
      <div class="wpb_wrapper">
        <div class="dt-sc-tabs-horizontal-frame-container type4">
          <ul class="dt-sc-tabs-horizontal-frame">
            <li><a href="javascript:void(0);" onclick="return about()" class="current about" data-step="1"><span class="zmdi zmdi-hospital zmdi-hc-fw"></span>First Trimster</a></li>
            <li><a href="javascript:void(0);" onclick="return info()" class="about" data-step="2"><span class="zmdi zmdi-globe zmdi-hc-fw"></span>Second Trimster</a></li>
            <li><a href="javascript:void(0);" onclick="return reviews()" class="about" data-step="3"><span class="zmdi zmdi-dot-circle zmdi-hc-fw"></span>Third Trimster</a></li>
          </ul>
          <div class="dt-sc-tabs-horizontal-frame-content" style="display: block;" id="about">
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="rs_col-sm-12 wpb_column vc_column_container1 vc_col-sm-8">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element " >
                      <div class="wpb_wrapper">
                        <p style="font-size: 20px;">After fertilization and implantation, a baby is at first just an embryo: two layers of cells from which all the organs and body parts will develop. Growing quickly, your baby is soon about the size of a kidney bean and constantly moving. The heart is beating quickly and the intestines are forming. Your budding son or daughter's earlobes, eyelids, mouth, and nose are also taking shape.</p>
                          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>
                          <p><strong>Safest in the industry:</strong> In the first trimester, foetal heartbeat can be heard by the 6th week and at the end of the 12th week the muscles, bones and organs are almost formed shaping the baby into a tiny human being.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="rs_col-sm-8 wpb_column vc_column_container1 vc_col-sm-4 vc_col-lg-offset-0 vc_col-md-offset-0 vc_col-sm-offset-2">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <img style="width:auto;height:350px" src="https://media.gettyimages.com/photos/having-breakfast-at-home-picture-id1170744205?s=2048x2048" >
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div class="dt-sc-tabs-horizontal-frame-content" style="display: none;" id="info">
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="rs_col-sm-8 wpb_column vc_column_container vc_col-sm-4 vc_col-lg-offset-0 vc_col-md-offset-0 vc_col-sm-offset-2">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <img style="width:auto;height:350px;" src="https://media.gettyimages.com/photos/mixed-race-pregnant-lady-stands-in-her-kitchen-picture-id567613101?s=2048x2048" class="aligncenter attachment-full" alt="tab3" srcset="https://media.gettyimages.com/photos/young-pregnant-woman-suffering-from-backache-picture-id1197693674?s=2048x2048 370w, https://media.gettyimages.com/photos/young-pregnant-woman-suffering-from-backache-picture-id1197693674?s=2048x2048 300w" >
                  </div>
                </div>
              </div>
              <div class="rs_col-sm-12 wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element ">
                      <div class="wpb_wrapper">
                          <p style="font-size: 20px;">At the beginning of the second trimester, babies are about 3 1/2 inches long and weigh about 1 1/2 ounces. Tiny, unique fingerprints are now in place, and the heart pumps 25 quarts of blood a day. As the weeks go by, your baby's skeleton starts to harden from rubbery cartilage to bone, and he or she develops the ability to hear. You're likely to feel kicks and flutters soon if you haven't already.</p>
                            <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                            <p><strong>Safest in the industry:</strong> The second trimester is usually known as the honeymoon period of pregnancy. Most of the morning sickness and other discomforting symptoms subside by the time a woman enters in her second trimester. The baby now peacefully grow and floats in the amniotic fluid while it's brain and body develops rapidly.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="dt-sc-tabs-horizontal-frame-content" style="display: none;" id="reviews">
            <div class="vc_row wpb_row vc_inner vc_row-fluid">
              <div class="rs_col-sm-12 wpb_column vc_column_container vc_col-sm-8">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <div class="wpb_text_column wpb_content_element " >
                      <div class="wpb_wrapper">
                        <p style="font-size: 20px;">Babies weigh about 2 1/4 pounds by the start of the third trimester. They can blink their eyes, which now sport lashes. And their wrinkled skin is starting to smooth out as they put on baby fat. They're also developing fingernails, toenails, and real hair (or at least some peach fuzz), and adding billions of neurons to their brain. Your blossoming baby will spend his or her final weeks in utero putting on weight. At full term, the average baby is more than 19 inches long and weighs nearly 7 pounds.</p>
                          <div class="vc_empty_space" style="height: 18px"><span class="vc_empty_space_inner"></span></div>

                          <p><strong>Safest in the industry:</strong> You've now entered the finale of your pregnancy. Not much time is left to welcome the young life you've been protecting all this while.</p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rs_col-sm-8 wpb_column vc_column_container1 vc_col-sm-4 vc_col-lg-offset-0 vc_col-md-offset-0 vc_col-sm-offset-2">
                <div class="vc_column-inner ">
                  <div class="wpb_wrapper">
                    <img style="width:auto;height:350px" src="https://media.gettyimages.com/photos/tiny-blue-shoes-for-my-tiny-little-bub-picture-id959158918?s=2048x2048" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div id="main" style="padding-top:50px;">
    <div class="container">
      <section id="primary" class="content-full-width">
        <div id="post-6149" class="post-6149 page type-page status-publish hentry">


<div style="color: rgb(97, 114, 125); position: relative;  box-sizing: border-box;  padding-left: 92.5px; padding-right: 92.5px;" data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid dt-sc-skin-highlight-tertiary-bg  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_row-o-equal-height vc_row-o-content-middle vc_row-flex wpb_start_animation animated">
  <div class="wpb_column vc_column_container1 vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="ult-spacer spacer-5e67d7992594a" data-id="5e67d7992594a" data-height="100" data-height-mobile="50" data-height-tab="75" data-height-tab-portrait="75" data-height-mobile-landscape="50" style="clear:both;display:block;">
        </div>
      </div>
    </div>
  </div>
  <div class="dt-sc-two-fifth rs_col-sm-12 wpb_column vc_column_container vc_col-sm-6 vc_col-lg-6 vc_col-md-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="vc_row wpb_row vc_inner vc_row-fluid">
          <div class="wpb_column vc_column_container vc_col-sm-11">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper" style="margin-top:-10%">
                <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInLeft" data-animation-delay="0.8" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s;" data-opacity_start_effect="">
                  <h2 class="dt-sc-skin-highlight-color animated fadeInLeft" style="opacity:1;-webkit-animation-delay:0.8s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.8s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.8s;animation-duration:1s;animation-iteration-count:1;test">
                    Set Reminders and Todos</h2>

                    <div class="wpb_wrapper">
                      <p>Pregnancy is pregnant </p>
                      <form name="newform" action="/user/reminder" method="POST">
                        <label style="margin-top:-10%;font-size:1rem!important"for="newitem">Set Time</label>
                        <input type="time" name="time" id="time" style="color:black;flex-grow:0!important;height:2rem!important">
                        <label style="font-size:1rem!important" for="newitem">Set Date</label>
                        <input type="date" name="date" id="date" style="color:black;flex-grow:0!important;height:2rem!important">
                        <label style="font-size:1rem!important" for="newitem">Set Note</label>
                        <input type="text" name="abt" id="abt" style="color:black;flex-grow:0!important;height:2rem!important" placeholder="remind about..">
                         <button style="margin-top:5%" type="submit">Set Reminder</button>
                       </form>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <main id="todolist" style="margin-top:-57%;margin-left:50%;max-height:30%"><h1>
  Todo List
  <span>
    Get things done, one item at a time.</span>
  </h1>
  <ul style="overflow-y:auto!important;overflow-x:hidden!important;max-height:200px!important;width:475px;margin-left:-12%">
    <%if(user.todos!=undefined){%>
      <% user.todos.reverse().forEach(function(item,index){ %>
        <%if(item.done==true){ %>

        <li class="done" id="<%=item._id%>" ><span class="label"><%=item.todo%></span>
           <div class="actions">
             <button type="button" aria-label="Undone" title="Undone" class="btn-picto change"  onclick="change_todo('<%=item._id%>')"><i aria-hidden="true" class="material-icons" id="check" >check_box</i></button>
             <button type="button" aria-label="Delete" title="Delete" class="btn-picto" onclick="del_todo('<%=item._id%>')"><i aria-hidden="true" class="material-icons">delete</i></button>
           </div>
         </li>
         <%}%>
         <%if(item.done==false){ %>

           <li class="" id="<%=item._id%>"><span class="label"><%=item.todo%></span>
              <div class="actions">
                <button type="button" aria-label="Done" title="Done" class="btn-picto change"  onclick="change_todo('<%=item._id%>')"><i aria-hidden="true" class="material-icons" id="check">check_box_outline_blank</i></button>
                <button type="button" aria-label="Delete" title="Delete" class="btn-picto" onclick="del_todo('<%=item._id%>')"><i aria-hidden="true" class="material-icons">delete</i></button>
              </div>
            </li>
          <%}%>

        <%})%>

      <%}%>
         </ul>
          <form name="newform" action="/user/todo" method="post"><label for="newitem">Add to the todo list</label>
            <input type="text" name="newitem" id="newitem" style="color:black">
             <button type="submit">Add item</button>
           </form>
         </main>

</div>
</section>
</div>

</div>



<div style="padding-top:60px;">
<div class="box-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;height:150px;margin-top:1290px;">
  <div class="container1">
    <div class="row">
        <div class="grid_8">
          <p class="txt1">APPOINT A DOCTOR </p>
        </div>

        <div class="grid_4">
          <a href="/gynac_booking" class="more_btn">get started</a>
        </div>
      </div>
    </div>
</div>
</div>




<div id="main" style="padding-top:50px;">
  <div class="container">    <section id="primary" class="content-full-width">
<div id="post-6149" class="post-6149 page type-page status-publish hentry">


<div class="vc_row-full-width vc_clearfix"></div>

<div class="vc_row wpb_row vc_row-fluid vc_row-o-equal-height vc_row-o-content-middle vc_row-flex"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5e67d799269cd" data-id="5e67d799269cd" data-height="80" data-height-mobile="48" data-height-tab="64" data-height-tab-portrait="64" data-height-mobile-landscape="48" style="clear:both;display:block;"></div></div></div></div><div class="rs_col-sm-12 wpb_column vc_column_container vc_col-sm-8 vc_col-lg-8 vc_col-md-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid dt-row-with-centered-border-columns"><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="flipInX" data-animation-delay="0.5" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; transition-delay: 0.5s;" data-opacity_start_effect=""><div class="dt-sc-icon-box type5 rounded-skin animated flipInX" style="opacity:1;-webkit-animation-delay:0.5s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.5s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.5s;animation-duration:1s;animation-iteration-count:1;test"><div class="icon-wrapper"><img width="80" height="80" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/icon-inject-needle.png" class="attachment-full" alt="icon-inject-needle"></div><div class="icon-content"><h4>Latest Advancements</h4><p>There are many variations of passages of lorem ipsum but the majority have suffered.</p></div></div></div><div class="ult-spacer spacer-5e67d799270cb" data-id="5e67d799270cb" data-height="80" data-height-mobile="48" data-height-tab="64" data-height-tab-portrait="64" data-height-mobile-landscape="48" style="clear:both;display:block;"></div><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="flipInX" data-animation-delay="1.4" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.4s; -moz-transition-delay: 1.4s; transition-delay: 1.4s;" data-opacity_start_effect=""><div class="dt-sc-icon-box type5 rounded-skin animated flipInX" style="opacity:1;-webkit-animation-delay:1.4s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.4s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.4s;animation-duration:1s;animation-iteration-count:1;test"><div class="icon-wrapper"><img width="65" height="65" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/icon-thermometer-duo.png" class="attachment-full" alt="icon-thermometer-duo"></div><div class="icon-content"><h4>Critical &amp; Palliative Care</h4><p>There are many variations of passages of lorem ipsum but the majority have suffered.</p></div></div></div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="flipInX" data-animation-delay="1.1" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.1s; -moz-transition-delay: 1.1s; transition-delay: 1.1s;" data-opacity_start_effect=""><div class="dt-sc-icon-box type5 rounded-skin animated flipInX" style="opacity:1;-webkit-animation-delay:1.1s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.1s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.1s;animation-duration:1s;animation-iteration-count:1;test"><div class="icon-wrapper"><img width="65" height="65" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/icon-medic-pulse-on-heart.png" class="attachment-full" alt="icon-medic-pulse-on-heart"></div><div class="icon-content"><h4>Professional Healthcare</h4><p>There are many variations of passages of lorem ipsum but the majority have suffered.</p></div></div></div><div class="ult-spacer spacer-5e67d799279be" data-id="5e67d799279be" data-height="80" data-height-mobile="48" data-height-tab="64" data-height-tab-portrait="64" data-height-mobile-landscape="48" style="clear:both;display:block;"></div><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="flipInX" data-animation-delay="0.8" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s;" data-opacity_start_effect=""><div class="dt-sc-icon-box type5 rounded-skin animated flipInX" style="opacity:1;-webkit-animation-delay:0.8s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.8s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.8s;animation-duration:1s;animation-iteration-count:1;test"><div class="icon-wrapper"><img width="65" height="65" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/icon-medic-case.png" class="attachment-full" alt="icon-medic-case"></div><div class="icon-content"><h4>State of the Art Research</h4><p>There are many variations of passages of lorem ipsum but the majority have suffered.</p></div></div></div></div></div></div></div></div></div></div><div class="rs_col-sm-8 wpb_column vc_column_container vc_col-sm-4 vc_col-lg-offset-0 vc_col-lg-4 vc_col-md-offset-3 vc_col-md-6 vc_col-sm-offset-2"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInDown" data-animation-delay="1.7" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.7s; -moz-transition-delay: 1.7s; transition-delay: 1.7s;" data-opacity_start_effect="">
<div class="wpb_raw_code wpb_content_element wpb_raw_html vc_custom_1497537241579 dt-sc-availability-time-table dt-sc-skin-highlight-tertiary-bg animated zoomInDown" style="opacity:1;-webkit-animation-delay:1.7s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.7s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.7s;animation-duration:1s;animation-iteration-count:1;test">
<div class="wpb_wrapper">
<h6 class="dt-sc-skin-highlight">Times &amp; Availability</h6>
<ul class="dt-sc-opening-hours">
<li> <span> Help Desk </span> <span> 24 hrs </span> </li>
<li> <span> Duty Doctor </span> <span> 08:00 - 18:00 hrs </span> </li>
<li> <span> Chief Doctor </span> <span> 08:00 - 18:00 hrs </span> </li>
<li> <span> Pediatric Doctor </span> <span> 08:00 - 18:00 hrs </span> </li>
<li> <span> Out Patients </span> <span> 08:00 - 18:00 hrs </span> </li>
<li> <span> Pharmacy </span> <span> 24 hrs </span> </li>
</ul>
</div>
</div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5e67d79928bad" data-id="5e67d79928bad" data-height="80" data-height-mobile="48" data-height-tab="64" data-height-tab-portrait="64" data-height-mobile-landscape="48" style="clear:both;display:block;"></div></div></div></div></div>


</div>
</section>        </div>

</div>
<div>
<div class="box-2 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;height:150px;margin-top:695px;">
  <div class="container2">
    <div class="row">
        <div class="grid_8">
          <p class="txt1 color2">APPOINT A COUNELOR</p>
        </div>

        <div class="grid_4">
          <a href="/co_booking" class="more_btn">more info</a>
        </div>
      </div>
    </div>
</div>
</div>


<div id="main" style="padding-top:50px">
  <div class="container">    <section id="primary" class="content-full-width">
<div id="post-6149" class="post-6149 page type-page status-publish hentry">


<div style="width:100%">
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid dt-sc-skin-highlight-tertiary-bg wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated" style="position: relative;  box-sizing: border-box;  width:150%;margin-left:-25%"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-spacer spacer-5e67d79928de6" data-id="5e67d79928de6" data-height="64" data-height-mobile="64" data-height-tab="48" data-height-tab-portrait="48" data-height-mobile-landscape="64" style="clear:both;display:block;"></div><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInDown" data-animation-delay="0.8" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s;" data-opacity_start_effect=""><h5 class="dt-sc-sub-heading aligncenter animated fadeInDown" style="opacity:1;-webkit-animation-delay:0.8s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.8s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.8s;animation-duration:1s;animation-iteration-count:1;test">Empowering you with Information</h5><h2 class="dt-sc-skin-highlight-color aligncenter animated fadeInDown" style="opacity:1;-webkit-animation-delay:0.8s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.8s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.8s;animation-duration:1s;animation-iteration-count:1;test">Videos on Childcare</h2></div><div class="ult-spacer spacer-5e67d79928e4c" data-id="5e67d79928e4c" data-height="45" data-height-mobile="30" data-height-tab="35" data-height-tab-portrait="35" data-height-mobile-landscape="30" style="clear:both;display:block;"></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInDown" data-animation-delay="1.4" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.4s; -moz-transition-delay: 1.4s; transition-delay: 1.4s;" data-opacity_start_effect=""><div id="modal-trg-txt-wrap-7157" class="ult-modal-input-wrapper ult-adjust-bottom-margin dt-video-modal-on-image  vc_custom_1498661327840 animated zoomInDown" style="opacity:1;-webkit-animation-delay:1.4s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.4s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.4s;animation-duration:1s;animation-iteration-count:1;test"><img src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/video-thumb-image1.jpg" alt="video-thumb-image1" data-class-id="content-5e67d7992919e2-00330965" class="ult-modal-img overlay-show ult-align-center ult-modal-image-" data-overlay-class="overlay-cornerbottomleft"></div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInDown" data-animation-delay="2" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 2s; -moz-transition-delay: 2s; transition-delay: 2s;" data-opacity_start_effect=""><div id="modal-trg-txt-wrap-8082" class="ult-modal-input-wrapper ult-adjust-bottom-margin dt-video-modal-on-image  vc_custom_1498688485509 animated zoomInDown" style="opacity:1;-webkit-animation-delay:2s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:2s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:2s;animation-duration:1s;animation-iteration-count:1;test"><img src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/video-thumb-image2.jpg" alt="video-thumb-image2" data-class-id="content-5e67d799296aa0-18993832" class="ult-modal-img overlay-show ult-align-center ult-modal-image-" data-overlay-class="overlay-cornerbottomleft"></div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInDown" data-animation-delay="1.7" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.7s; -moz-transition-delay: 1.7s; transition-delay: 1.7s;" data-opacity_start_effect=""><div id="modal-trg-txt-wrap-4935" class="ult-modal-input-wrapper ult-adjust-bottom-margin dt-video-modal-on-image  vc_custom_1498688523151 animated zoomInDown" style="opacity:1;-webkit-animation-delay:1.7s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.7s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.7s;animation-duration:1s;animation-iteration-count:1;test"><img src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/video-thumb-image3.jpg" alt="video-thumb-image3" data-class-id="content-5e67d79929bd07-32608472" class="ult-modal-img overlay-show ult-align-center ult-modal-image-" data-overlay-class="overlay-cornerbottomleft"></div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInDown" data-animation-delay="2.3" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 2.3s; -moz-transition-delay: 2.3s; transition-delay: 2.3s;" data-opacity_start_effect=""><div id="modal-trg-txt-wrap-7101" class="ult-modal-input-wrapper ult-adjust-bottom-margin dt-video-modal-on-image  vc_custom_1498688546841 animated zoomInDown" style="opacity:1;-webkit-animation-delay:2.3s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:2.3s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:2.3s;animation-duration:1s;animation-iteration-count:1;test"><img src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/video-thumb-image4.jpg" alt="video-thumb-image4" data-class-id="content-5e67d7992a0950-48502178" class="ult-modal-img overlay-show ult-align-center ult-modal-image-" data-overlay-class="overlay-cornerbottomleft"></div>
</div></div></div></div></div><div class="ult-spacer spacer-5e67d7992a431" data-id="5e67d7992a431" data-height="45" data-height-mobile="30" data-height-tab="35" data-height-tab-portrait="35" data-height-mobile-landscape="30" style="clear:both;display:block;"></div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="dt-sc-one-fifth wpb_column vc_column_container vc_col-sm-2 vc_hidden-xs"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div><div class="dt-sc-three-fifth wpb_column vc_column_container vc_col-sm-8"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInUp" data-animation-delay="1.1" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 1.1s; -moz-transition-delay: 1.1s; transition-delay: 1.1s;" data-opacity_start_effect="">
<div class="wpb_text_column wpb_content_element  animated fadeInUp" style="opacity:1;-webkit-animation-delay:1.1s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:1.1s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:1.1s;animation-duration:1s;animation-iteration-count:1;test">
<div class="wpb_wrapper">
<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>

</div>
</div>
</div>
<div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="bounce" data-animation-delay="2.6" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 2.6s; -moz-transition-delay: 2.6s; transition-delay: 2.6s;" data-opacity_start_effect=""><a href="#" target="_self" title="" class="dt-sc-button   medium   filled rounded-corner  dt-sc-skin-highlight-sec-bg aligncenter animated bounce" style="opacity:1;-webkit-animation-delay:2.6s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:2.6s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:2.6s;animation-duration:1s;animation-iteration-count:1;test"> View all Videos </a></div></div></div></div><div class="dt-sc-one-fifth wpb_column vc_column_container vc_col-sm-2 vc_hidden-xs"><div class="vc_column-inner "><div class="wpb_wrapper"></div></div></div></div><div class="ult-spacer spacer-5e67d7992a9b9" data-id="5e67d7992a9b9" data-height="75" data-height-mobile="45" data-height-tab="60" data-height-tab-portrait="60" data-height-mobile-landscape="45" style="clear:both;display:block;"></div></div></div></div>
</div>
</div>


<!-- <div class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12">
    <div class="vc_column-inner ">
      <div class="wpb_wrapper">
        <div class="ult-spacer spacer-5e67d7992abca" data-id="5e67d7992abca" data-height="96" data-height-mobile="80" data-height-tab="64" data-height-tab-portrait="64" data-height-mobile-landscape="80" style="clear:both;display:block;">
        </div>
        <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="fadeInDown" data-animation-delay="0.5" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; transition-delay: 0.5s;" data-opacity_start_effect="">
          <h5 class="dt-sc-sub-heading aligncenter animated fadeInDown" style="opacity:1;-webkit-animation-delay:0.5s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.5s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.5s;animation-duration:1s;animation-iteration-count:1;test">The Team of Caring Physicians</h5>
          <h2 class="dt-sc-skin-highlight-color aligncenter animated fadeInDown" style="opacity:1;-webkit-animation-delay:0.5s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.5s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.5s;animation-duration:1s;animation-iteration-count:1;test">With a touch of Kindness</h2>
        </div>
        <div class="ult-spacer spacer-5e67d7992ac2f" data-id="5e67d7992ac2f" data-height="64" data-height-mobile="32" data-height-tab="48" data-height-tab-portrait="48" data-height-mobile-landscape="32" style="clear:both;display:block;">
        </div>
        <div class="ult-animation  ult-animate-viewport  ult-no-mobile " data-animate="zoomInUp" data-animation-delay="0.8" data-animation-duration="1" data-animation-iteration="1" style="opacity:1;-webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s;" data-opacity_start_effect="">
          <div class="animated zoomInUp" style="opacity:1;-webkit-animation-delay:0.8s;-webkit-animation-duration:1s;-webkit-animation-iteration-count:1; -moz-animation-delay:0.8s;-moz-animation-duration:1s;-moz-animation-iteration-count:1; animation-delay:0.8s;animation-duration:1s;animation-iteration-count:1;test">
            <div class="column dt-sc-one-third first">
              <div class="dt-sc-team style2">
                <div class="dt-sc-team-thumb">
                  <img width="600" height="734" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2017/05/doctor8.jpg" alt=""></div>	<div class="dt-sc-team-details">		<h4><a href="https://mediclinic.wpengine.com/dt_doctors/araquel-fernandez/" title="Dr.Araquel Fernandez">Dr.Araquel Fernandez</a><span>M.D, PH.D</span></h4>		<h5>General Pediatrics, Pulmonary</h5><ul class="dt-sc-team-social dt-sc-sociable"><li><a class="fa fa-twitter" href="#" title="Twitter"></a></li><li><a class="fa fa-facebook" href="#" title="Facebook"></a></li><li><a class="fa fa-google-plus" href="#" title="Google"></a></li></ul>		<a class="view-details" href="https://mediclinic.wpengine.com/dt_doctors/araquel-fernandez/" title="Dr.Araquel Fernandez">View Details</a>	</div></div></div><div class="column dt-sc-one-third"><div class="dt-sc-team style2">	<div class="dt-sc-team-thumb"><img width="600" height="734" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/doctor-1.jpg" alt="doctor-1"></div>	<div class="dt-sc-team-details">		<h4><a href="https://mediclinic.wpengine.com/dt_doctors/lamar-baker/" title="Dr.Lamar Baker">Dr.Lamar Baker</a><span>M.D, PH.D</span></h4>		<h5>General Pediatrics, Hematology</h5><ul class="dt-sc-team-social dt-sc-sociable"><li><a class="fa fa-twitter" href="#" title="Twitter"></a></li><li><a class="fa fa-facebook" href="#" title="Facebook"></a></li><li><a class="fa fa-google-plus" href="#" title="Google"></a></li></ul>		<a class="view-details" href="https://mediclinic.wpengine.com/dt_doctors/lamar-baker/" title="Dr.Lamar Baker">View Details</a>	</div></div></div><div class="column dt-sc-one-third"><div class="dt-sc-team style2">	<div class="dt-sc-team-thumb"><img width="600" height="734" src="https://1n45h6492x0o2siloqczsz91-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/doctor-3.jpg" alt="doctor-3"></div>	<div class="dt-sc-team-details">		<h4><a href="https://mediclinic.wpengine.com/dt_doctors/stuart-marshall/" title="Dr.Stuart Marshall">Dr.Stuart Marshall</a><span>M.D, PH.D</span></h4>		<h5>General Pediatrics, Hematology</h5><ul class="dt-sc-team-social dt-sc-sociable"><li><a class="fa fa-twitter" href="#" title="Twitter"></a></li><li><a class="fa fa-facebook" href="#" title="Facebook"></a></li><li><a class="fa fa-google-plus" href="#" title="Google"></a></li></ul>		<a class="view-details" href="https://mediclinic.wpengine.com/dt_doctors/stuart-marshall/" title="Dr.Stuart Marshall">View Details</a>	</div></div></div></div></div><div class="ult-spacer spacer-5e67d7992cce5" data-id="5e67d7992cce5" data-height="112" data-height-mobile="32" data-height-tab="96" data-height-tab-portrait="96" data-height-mobile-landscape="32" style="clear:both;display:block;"></div></div></div></div>
                </div> -->








</div>
</section>        </div>

</div>







<script>

  function about(){
    document.getElementById('about').style.display = 'block';
    document.getElementById('info').style.display = 'none';
    document.getElementById('reviews').style.display = 'none';

    $('.about[data-step="1"]').addClass('current')
    $('.about[data-step="2"]').removeClass('current')
    $('.about[data-step="3"]').removeClass('current')
  }

  function info(){
    document.getElementById('about').style.display = 'none';
    document.getElementById('info').style.display = 'block';
    document.getElementById('reviews').style.display = 'none';


    $('.about[data-step="2"]').addClass('current')
    $('.about[data-step="1"]').removeClass('current')
    $('.about[data-step="3"]').removeClass('current')
  }



  function reviews(){
    document.getElementById('about').style.display = 'none';
    document.getElementById('info').style.display = 'none';
    document.getElementById('reviews').style.display = 'block';


    $('.about[data-step="3"]').addClass('current')
    $('.about[data-step="2"]').removeClass('current')
    $('.about[data-step="1"]').removeClass('current')
  }
</script>








<script>

  function Behavior(){
    document.getElementById('behavior').style.display = 'block';
    document.getElementById('learning').style.display = 'none';
    document.getElementById('infectious').style.display = 'none';
    document.getElementById('congenital').style.display = 'none';

  }

  function Learning(){
    document.getElementById('behavior').style.display = 'none';
    document.getElementById('learning').style.display = 'block';
    document.getElementById('infectious').style.display = 'none';
    document.getElementById('congenital').style.display = 'none';

  }



  function Infectious(){
    document.getElementById('behavior').style.display = 'none';
    document.getElementById('learning').style.display = 'none';
    document.getElementById('congenital').style.display = 'none';
    document.getElementById('infectious').style.display = 'block';
  }


  function Congenital(){
    document.getElementById('behavior').style.display = 'none';
    document.getElementById('learning').style.display = 'none';
    document.getElementById('infectious').style.display = 'none';
    document.getElementById('congenital').style.display = 'block';
  }
</script>





<script type="text/javascript">
function del_todo(id){

document.getElementById(id).style.display='none';

console.log('called')
console.log(id);
  $.ajax({
    type:'POST',
    url:'/user/del_todo',
    data:{
      id:id,
    },
    success:function(){
      window.location.reload()

      return false
    }
  });

};

function change_todo(id){



  if(document.getElementById(id).classList.contains('done')){
    document.getElementById(id).classList.remove('done')
    document.getElementById('check').innerHTML='check_box_outline_blank';

  }
  else{
    document.getElementById(id).className = 'done';
    document.getElementById('check').innerHTML='check_box';

  }


console.log('called')
console.log(id);
  $.ajax({
    type:'POST',
    url:'/user/change_todo',
    data:{
      id:id,
    },
    sucess:function(){
      window.location.reload()
      return false
    }
  });

};



</script>

    <script>
      window.onscroll = function(){
   var navbar = document.getElementById('nav')
   var wander = document.getElementById('wander')
   var items = document.getElementsByClassName('items')
   var count = document.getElementById('count')
    var btn = document.getElementById('dropdownMenuButton')
    var ul = document.getElementById('ul')

   if (window.pageYOffset < 250){
    navbar.style.background = "rgba(0, 0, 0, 0)";
      navbar.style.boxShadow = 'none';
    wander.style.color = "#ffffff";
      wander.style.marginTop = "35px"
      ul.style.marginTop = "1.7%";
      btn.style.color = '#ffffff';
    for(var i=0; i<items.length; i++){
     items[i].style.color = "#ffffff";
     items[i].onmouseover = function(){
      items[i].style.color = "#06b995";
     }
    }
   } else {
    navbar.style.background = '#fff';
      navbar.style.boxShadow = "0 4px 4px -2px #495057";
    wander.style.color = "#60bfdc";
      btn.style.color = '#60bfdc';
      wander.style.marginTop = "17px"
      ul.style.marginTop = "0.4%";
    for(var i=0; i<items.length; i++){
     items[i].style.color = "#60bfdc";
     items[i].onmouseover = function(){
      items[i].style.color = "black";
     }
    }
   }
  }

    </script>

    <script type="text/javascript">
    function noti(x,img,senderid,sender_type){
      console.log('asasssssssssssssssssss');
      console.log(x)
      document.getElementById(x).style.display = "none";
      document.getElementById('testusername').value = '<%= user.email %>';

      document.getElementById('sender').value =  senderid;
      document.getElementById('sender_type').value =  sender_type;

      document.getElementById('senderid').innerHTML =  senderid;

      // console.log(x)
      console.log(img)
      document.getElementById("testmodelimg").setAttribute('src',img);
    console.log('called')
      $.ajax({
        type:'POST',
        url:'/user/noti',
        data:{
          notiid:x,
        },
        sucess:function(){
          return false
        }
      });

    };

    </script>

  </body>
</html>
