<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet"  href="https://demos.creative-tim.com/argon-design-system-pro/assets/css/argon-design-system.min.css?v=1.0.0">
  <link rel="stylesheet" href="https://demos.creative-tim.com/argon-design-system-pro/assets/css/font-awesome.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/argon-design-system-pro/assets/css/nucleo-icons.css">
  <link rel="stylesheet" href="https://demos.creative-tim.com/argon-design-system-pro/assets/css/nucleo-svg.css">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script> -->
  <script src="https://kit.fontawesome.com/ea0619ce99.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles/doc/doc_home.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


<style>

.notifimg{
  color: #fff;
  background-color: #adb5bd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 48px;
  width: 48px
}

  #wander {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 17px 220px;
    color: grey;
    font-weight: 600 !important ;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 1s
  }

  nav {
    position: fixed;
    width: 102%;
    line-height: 60px;
    z-index: 1000;
    overflow-y: visible;
    border-width: thin;
    padding: 10px;
    background: #fafbfc;
    box-shadow:0 4px 4px -2px #495057;
  }

  nav ul {
    line-height: 50px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    color: grey;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
  }

  nav ul li {
    display: inline-block;
    padding: 10px 20px;
  }

  nav ul li a {
    text-decoration: none;
    color: grey;
    font-size: 16px;
  }


  .myedit{
          padding-left : 20px;
          padding-top : 10px;
          width: 22%;
        }
  #form{
    padding-top : 1px;
    background-color:white;
    width: 100%;
    padding-bottom:0px;
  }

  #first{


  }
  #second{
          padding-left:30px;
  }
  #third{

  }

  h2{
      font-family: verdana;
      padding:0px;;
  }
  .jumbotron{

  }
  #line1{
    width : 400px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin : 0px;
  }
  .list{
    overflow : auto;
    height : 400px;
  }
  .list::-webkit-scrollbar{
    display : none;
  }
  #line2{
    padding-left :;
    width : 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin : 0px;
  }
  #line3{
    width : 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin : 0px;
  }
  #heading2{
    padding-left : 40px;
  }
  .bookings {
    display : flex;
    overflow-x: auto;
  }
  .bookings::-webkit-scrollbar{
    display : none;
  }
  .new{
    min-width : 22%;
    margin : 10px;

  }

  .star{
        color: goldenrod;
        font-size: 2.0rem;
        padding: ; /* space out the stars */
      }
      .star::before{
        content: '\2606';    /* star outline */
        cursor: pointer;
      }
      .star.rated::before{
        /* the style for a selected star */
        content: '\2605';  /* filled star */
      }

      .stars{
          counter-reset: rateme 0;
          font-size: 2.0rem;
          font-weight: 900;
      }
      .star.rated{
          counter-increment: rateme 1;
      }
      .stars::after{

      }



      .alert {
          margin-top: 2%;
          margin-left:100%;
          margin-right:-90%;
      }
      .alert-warning {
    color: #fff3cd;
    background-color: #fff3cd;
  }
  .alert:not(.alert-secondary) {
    color: #000;
}

.star-rating__checkbox {
	 position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 width: 1px;
	 margin: -1px;
	 padding: 0;
	 border: 0;
}
 .star-rating__star {
	 display: inline-block;
	 padding: 3px;
	 vertical-align: middle;
	 line-height: 1;
	 font-size: 1.5em;
	 color: #ababab;
	 transition: color 0.2s ease-out;
}
 .star-rating__star:hover {
	 cursor: pointer;
}
 .star-rating__star.is-selected {
	 color: #ffd700;
}
 .star-rating__star.is-disabled:hover {
	 cursor: default;
}


</style>

</head>
<body style="overflow-x:hidden;margin-left:0%;background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) 75%),url('https://demos.creative-tim.com/argon-design-system-pro-angular/assets/img/ill/testimonial_bg.svg')">
  <div class="row" style="top:0px;position:fixed;z-index:100">

        <nav id="nav" style="z-index:15;border:none;" class="navpic">
        <div class="logo">
          <span id="wander">LITTLEONE</span>
        </div>
        <div class="menu"  style="overflow:visible!important;">
          <ul id="ul" style="margin-left:60%;margin-top:1.7%;">
            <center>
             <li><a class="items" href="/user/home"><i class="fas fa-home"></i></a></li>
             <li><a class="items" href="/blog"><i class="fas fa-blog"></i></a></li>
             <li><a class="items" href="/forum"><i class="fa fa-quora"></i></a></li>

             <li class="dropdown">
               <i class="fas fa-bell dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                 <!-- <button style="color:grey;font-size:16px;margin-top:-2%;" class="btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 </button> -->
                 <div style="min-width:23rem;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <!-- <a style="padding-top:2px;" class="dropdown-item" href="/users">Profile</a>
                   <a style="padding-top:2px;" class="dropdown-item" href="#">WanderList</a>
                   <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a> -->
                   <% if(user.notifications) {%>
                       <div class="px-3 py-3">
                         <h6 class="text-sm text-muted m-0">You have <strong class="text-primary"><%=user.notifications.length%></strong> notifications.</h6>
                       </div>

                       <div class="list-group list-group-flush" id="notifications" style="overflow-y:auto!important;max-height:400px!important;">

                   <% for(i=0;i < user.notifications.length;i++ ){ %>
                      <% if(user.notifications[i].typeid=='testimonial'){%>
                        <a href="#" onclick="noti('<%=user.notifications[i]._id%>','<%=user.notifications[i].img %>','<%=user.notifications[i].senderid %>','<%=user.notifications[i].sender_type %>')" data-toggle="modal" data-target="#myModal" class="list-group-item list-group-item-action">


                            <div id="<%=user.notifications[i]._id%>"class="row align-items-center">
                              <div class="col-auto">
                                <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="notifimg rounded-circle">

                              </div>
                              <div class="col" style="width:100%;margin-top:-2%!important;padding-left:!important;margin-left:-5%">
                                    <h6 style="color: #32325d!important;" class=""><strong><%=user.notifications[i].username%></strong></h6>
                                <p style="text-transform:lowercase!important;line-height:1.1!important;margin-bottom:-3%;margin-top:-2%" class=""><%=user.notifications[i].msg%></p>

                              </div>


                            </div>
                          </a>
                       <%}%>

                       <% if(user.notifications[i].typeid!='testimonial'){%>

                         <a href="#" onclick="noti('<%=user.notifications[i]._id%>','<%=user.notifications[i].img %>','<%=user.notifications[i].senderid %>','<%=user.notifications[i].sender_type %>')"  class="list-group-item list-group-item-action">


                             <div id="<%=user.notifications[i]._id%>"class="row align-items-center">
                               <div class="col-auto">
                                 <img alt="Image placeholder" src="<%=user.notifications[i].img %>" class="notifimg rounded-circle">

                               </div>
                               <div class="col" style="width:100%;margin-top:-2%!important;padding-left:!important;margin-left:-5%">
                                     <h6 style="color: #32325d!important;" class=""><strong><%=user.notifications[i].username%></strong></h6>
                                 <p style="text-transform:lowercase!important;line-height:1.1!important;margin-bottom:-3%;margin-top:-2%" class=""><%=user.notifications[i].msg%>

                                       <i class="fas fa-trash"></i>

      </p>

                               </div>


                             </div>
                           </a>
                        <%}%>

                         <%} %>

                       </div>
                         <%}else{ %>
                           <p>No Notifications</p>
                         <%}%>

                 </div>
             </li>
             <li class="dropdown" style="margin-left:-4%;">
                 <button style="color:white;font-size:16px;margin-top:-2%;" class="items btn btn-outline-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i style="font-size:18px;" class="items far fa-user-circle"><small><b><%=user.name%></b></small></i>
                 </button>
                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <a style="padding-top:2px;" class="dropdown-item" href="/user/profile">Profile</a>
                   <a style="padding-top:2px;" class="dropdown-item" href="/users/logout">Logout</a>
                 </div>
             </li>
           </center>
          </ul>
        </div>
      </nav>

    </div>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

          <div class="modal-content" style="background-color: #DDDDDD;background-image:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4) 75%), url('https://lstore.graphics/paaatterns/images/Waiau-3-p-1080.jpeg');background-size:contain;background-position:150% 100%;background-repeat:no-repeat;">
            <div class="modal-header">
              <!-- <h4 class="modal-title">Testimonial</h4> -->
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table style="width:100%;padding:3%;">
                <tr>
                  <td style="width:38%;padding-top:3%;padding-bottom: 1.5%;text-align:center;">
                    <img style="width:30vh;height:30vh;border-radius:3px;box-shadow:0 10px 25px 0 rgba(0,0,0,.3);"  id="testmodelimg" alt="Raised Image" class="rounded img-raised">
                    <div id="senderid">

                    </div>
                  </td>
                  <td style="width:58%;">
                    <form action="/user/testimonial/" method="POST">
                      <input style="display: none;" type="text" id="testusername" name="usermail" value="">
                      <input style="display: none;" type="text" id="sender_type" name="sender_type" value="">
                      <input style="display: none" type="text" id="sender" name="senderid" value="">
                      <h1 style="color:#919293;">Testimonial</h1>
                      <div class="form-group" style="margin-top:5%;">
                        <label for="exampleFormControlTextarea1">Your Feedback</label>
                        <textarea name="text" placeholder="Give your feedback please..." class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                      </div>
                      <input style="float:right;" class="btn btn-success btn-sm" type="submit" name="submit" value="Submit">
                    </form>
                  </td>
                </tr>
              </table>
              <!-- <div class="modal-footer" style="border-top:none;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>

        </div>
      </div>

  <% var boo = 0 %>
  <% for ( var i = 0; i < booking.length; i++ ) { %>
    <% boo++; } %>
      <div class="row" style="margin-top:7%;margin-left:7%;">
      <div class="myedit" id = "first" style="width:23%;">
            <div class="card card-profile" data-image="profile-image">
              <div class="card-header">
                <div class="card-image">
                  <form action='/user/profile' method='POST' autocomplte='off' enctype="multipart/form-data">



                  <a href="javascript:;">
                    <input type="image" id="image" src="<%=user.img.path%>" width="322px"/>
                    <!-- <input type="file" id="my_file" style="display: none; " name="img" /> -->
                  </a>
                  <div class="form-wrapper" style="border:none;">

                             <i class="zmdi zmdi-image"></i>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <h4 class="display-4 mb-0"><%=user.name%></h4>
                --Change profile Pic<input type="file" name="img" onchange="readURL(this);" class="form-control" style="border:none;" >

                <div class="table-responsive">
                  <ul class="list-unstyled ">
                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-info mr-3">
                            <i class="fa fa-phone"></i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1"><%= user.phonenumber %></h6>
                        </div>
                      </div>
                    </li>

                    <li class="py-1">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="badge badge-circle badge-danger mr-3">
                            <i class="ni ni-chart-bar-32"></i>
                          </div>
                        </div>
                        <div>
                          <h6 class="mb-1">bookings    <%= boo %></h6>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


          <div style="padding-left:5%;">
            <%- include ('partials/messages.ejs') %>

            <h2>Edit Profile</h2>
            <hr id="line1" noshade>
          <div id="form" class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">

              <div class="form" style="padding-top  :10px;">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input style="width:99%" type="text" class="form-control" id="name"  placeholder="Enter name" name = 'name' value="<%= user.name %>" readonly>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input style="width:99%" type="email" class="form-control" id="email"  placeholder="Enter Email" name = 'email' value="<%= user.email %>" readonly>
                </div>
                <div class="form-row">
                  <div class="form-group md-col-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city"  placeholder="Enter city" name = 'city' value="<%= user.city %>">
                  </div>
                  <div style="padding-left:121px" class="form-group md-col-6">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" id="phone"  placeholder="Enter number" name = 'phone' value="<%= user.phonenumber %>">
                  </div>
                </div>

                <input class="btn btn-icon btn-primary mt-0" type="submit">
              </div>
            </form>
          </div></div>
          </div>

          <!-- <hr id="line3" noshade> -->
          <div class="section features-7 bg-secondary" style="background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7) 75%),url('https://lstore.graphics/paaatterns/images/018-p-1080.png')">
            <center>
            <h2 id="currentbookings" style="margin-bottom:2%;margin-top:-1%;">Current Bookings</h2>
          </center>

          <div class="bookings">
            <% for ( var i = 0; i < booking.length; i++ ) { %>
                <% if ( booking[i].current == true ) { %>


    <div class="col-lg-4 col-md-6" style="float:left!important;max-width:25%!important;">

      <div class="card card-profile" data-background="cover">
        <div class="card-body pt-0" style="margin-top:4%">
          <div class="text-center">
            <h4 class="mt-3" style="color:#17a2b8!important;">
              <%= booking[i].doctor %>
            </h4>
            <div class="font-weight-300">
              <i class="ni location_pin mr-2"><%=booking[i].date_n_time.date%>, <%=booking[i].date_n_time.slot%>, <%=booking[i].date_n_time.time%></i>
            </div>
            <div class="font-weight-300">
              <i class="ni location_pin mr-2">Name: <%= booking[i].doc_name %>, Type: <%=booking[i].doc_type%> </i>
            </div>
            <h6 style="margin-top:3%"> Place : <%= booking[i].place %></h6>

          </div>
          <div class="card-profile-stats d-flex justify-content-center" style="margin-top:-5%">
            <div>
              <span class="heading"><%=booking[i].count%></span>
              <span class="description">patients</span>
            </div>
            <div>
              <span class="heading"><%= booking[i].booking_type %></span>
              <span class="description"> Type</span>
            </div>
            <div>
              <span class="heading"><%= booking[i].num_of_days%></span>
              <span class="description">Days</span>
            </div>


          </div>

                  <!-- <a type="submit" class="dt-sc-button" >appt Session</a> -->
          <a href="/chat/<%= booking[i]._id %>" style="color:#17a2b8!important;margin-top:-4%" class="btn btn-lg btn-sucess btn-block">Msg the Doctor</a>

          <!-- <button type="submit" style="color:#17a2b8!important" class="btn btn-lg btn-sucess btn-block">Book Session</button> -->

        </div>
      </div>
    </div>


                        <% } %>
                    <% } %>

          </div></div>


          <!-- <hr id="line3" noshade> -->
          <div class="section features-7 bg-secondary" >
            <center>
            <h2 id="currentbookings" style="margin-bottom:2%;margin-top:-1%;">Previous Bookings</h2>
          </center>
          <div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert" style="display:;margin-top:-5%;margin-left:60%;margin-right:10%">
            Rating is updated !!..
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
          <div class="bookings" id="app">
            <% for ( var i = 0; i < booking.length; i++ ) { %>
                <% if ( booking[i].current == false ) { %>
                  <div class="col-lg-4 col-md-6 card-lift--hover shadow border-0" style="float:left!important;max-width:25%!important;">

                    <div class="card card-profile" data-background="cover">
                      <div class="card-body pt-0" style="margin-top:4%">
                        <div class="text-center">
                          <h4 class="mt-3" style="color:#17a2b8!important;">
                            <%= booking[i].doctor %>
                          </h4>
                          <div class="font-weight-300">
                            <i class="ni location_pin mr-2"><%=booking[i].date_n_time.date%>, <%=booking[i].date_n_time.slot%>, <%=booking[i].date_n_time.time%></i>
                          </div>
                          <div class="font-weight-300">
                            <i class="ni location_pin mr-2">Name: <%= booking[i].doc_name %>, Type: <%=booking[i].doc_type%> </i>
                          </div>
                          <h6 style="margin-top:3%"> Place : <%= booking[i].place %></h6>

                        </div>
                        <div class="card-profile-stats d-flex justify-content-center" style="margin-top:-5%">
                          <div>
                            <span class="heading"><%=booking[i].count%></span>
                            <span class="description">patients</span>
                          </div>
                          <div>
                            <span class="heading"><%= booking[i].booking_type %></span>
                            <span class="description">Type</span>
                          </div>
                          <div>
                            <span class="heading"><%= booking[i].num_of_days%></span>
                            <span class="description">Days</span>
                          </div>


                        </div>
                        <div style="margin-left:30%" id="<%=booking[i]._id%>">


                          <% if(booking[i].rating=='0'){%>

                            <star-rating   value="<%= booking[i].rating %>"></star-rating>

                            <a  style="color:#ddad57!important;margin-left:-25%" class="btn btn-lg btn-block" onclick="rating('<%= booking[i].doctor %>', '<%= booking[i].doc_type %>', '<%= booking[i]._id %>')">submit</a>


                            <!-- <star-rating  ></star-rating> -->

                          <%}else{%>
                            <star-rating  value="<%= booking[i].rating %>" :disabled="true"></star-rating>

                            <%}%>


                        </div>


                        <!-- <div style="margin-left:25%" class="stars" data-rating="<%= booking[i].rating %>">
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                          <span class="star"></span>
                        </div>
                        <input type="text" id="st" hidden></input> -->
                        <!-- <a class="btn btn-primary mt-4" style="color:white" onclick="rating('<%= booking[i].doctor %>', '<%= booking[i].doc_type %>', '<%= booking[i]._id %>')">submit</a> -->

                                <!-- <a type="submit" class="dt-sc-button" >appt Session</a> -->

                        <!-- <button type="submit" style="color:#17a2b8!important" class="btn btn-lg btn-sucess btn-block">Book Session</button> -->

                      </div>
                    </div>
                  </div>
                        <% } %>
                    <% } %>

          </div></div>



          <script type="text/javascript">
          function rating(x,y,z){

            doc = document.getElementById(z);
            stars = doc.getElementsByClassName("is-selected").length
            console.log(stars);

            document.getElementById("alert").style.display="block"

          console.log('called')
            $.ajax({
              type:'POST',
              url:'/user/st',
              data:{
                st:stars,
               doctor:x,
               type:y,
               id:z,
              },
              sucess:function(){
                return false
              }
            });

          };

          </script>





            <script>
              $("input[type='image']").click(function() {
                $("input[id='my_file']").click();
              });
            </script>
            <script>

              //initial setup
              document.addEventListener('DOMContentLoaded', function(){
                  let stars = document.querySelectorAll('.star');
                  stars.forEach(function(star){
                      star.addEventListener('click', setRating);
                  });

                  let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
                  let target = stars[rating - 1];
                  target.dispatchEvent(new MouseEvent('click'));
              });
              function setRating(ev){
                  let span = ev.currentTarget;
                  let stars = document.querySelectorAll('.star');
                  let match = false;
                  let num = 0;
                  stars.forEach(function(star, index){
                      if(match){
                          star.classList.remove('rated');
                      }else{
                          star.classList.add('rated');
                      }
                      //are we currently looking at the span that was clicked
                      if(star === span){
                          match = true;
                          num = index + 1;
                      }
                  });
      			document.getElementById("st").value = num
                  document.querySelector('.stars').setAttribute('data-rating', num);
              }

          </script>
          <script type="text/javascript">
          function noti(x,img,senderid,sender_type){
            console.log(x)
            document.getElementById('testusername').value = '<%= user.email %>';

            document.getElementById('senderid').value =  senderid;
            document.getElementById('sender_type').value =  sender_type;

            document.getElementById('senderid').innerHTML =  senderid;

            // console.log(x)
            console.log(img)
            document.getElementById("testmodelimg").setAttribute('src',img);
          console.log('called')
            $.ajax({
              type:'POST',
              url:'/user/noti',
              data:{
                notiid:x,
              },
              sucess:function(){
                return false
              }
            });

          };

          </script>

          <script>
            window.onscroll = function(){
          var navbar = document.getElementById('nav')
          var wander = document.getElementById('wander')
          var items = document.getElementsByClassName('items')
          var count = document.getElementById('count')
          var btn = document.getElementById('dropdownMenuButton')
          var ul = document.getElementById('ul')

          if (window.pageYOffset < 0){
            navbar.style.background = "rgba(0, 0, 0, 0)";
            navbar.style.boxShadow = 'none';
            wander.style.color = "#000000";
            wander.style.marginTop = "35px"
            ul.style.marginTop = "1.7%";
            btn.style.color = '#ffffff';
            for(var i=0; i<items.length; i++){
              items[i].style.color = "#ffffff";
              items[i].onmouseover = function(){
                items[i].style.color = "#17a2b8";
              }
            }
          } else {
            navbar.style.background = '#fff';
            navbar.style.boxShadow = "0 4px 4px -2px #495057";
            wander.style.color = "#60bfdc";
            btn.style.color = '#60bfdc';
            wander.style.marginTop = "17px"
            ul.style.marginTop = "0.4%";
            for(var i=0; i<items.length; i++){
              items[i].style.color = "#60bfdc";
              items[i].onmouseover = function(){
                items[i].style.color = "black";
              }
            }
          }
        }

          </script>

          <script type="text/javascript">
          function noti(x,img,senderid,sender_type){
            console.log('asasssssssssssssssssss');
            console.log(x)
            document.getElementById(x).style.display = "none";
            document.getElementById('testusername').value = '<%= user.email %>';

            document.getElementById('sender').value =  senderid;
            document.getElementById('sender_type').value =  sender_type;

            document.getElementById('senderid').innerHTML =  senderid;

            // console.log(x)
            console.log(img)
            document.getElementById("testmodelimg").setAttribute('src',img);
          console.log('called')
            $.ajax({
              type:'POST',
              url:'/user/noti',
              data:{
                notiid:x,
              },
              sucess:function(){
                return false
              }
            });

          };

          </script>

          <script type="text/javascript">
          Vue.component('star-rating', {

props: {
  'name': String,
  'value': null,
  'id': String,
  'disabled': Boolean,
  'required': Boolean
},

template: '<div class="star-rating">\
      <label class="star-rating__star" v-for="rating in ratings" \
      :class="{\'is-selected\': ((value >= rating) && value != null), \'is-disabled\': disabled}" \
      v-on:click="set(rating)" v-on:mouseover="star_over(rating)" v-on:mouseout="star_out">\
      <input class="star-rating star-rating__checkbox" type="radio" :value="rating" :name="name" \
      v-model="value" :disabled="disabled">★</label></div>',

/*
 * Initial state of the component's data.
 */
data: function() {
  return {
    temp_value: null,
    ratings: [1, 2, 3, 4, 5]
  };
},

methods: {
  /*
   * Behaviour of the stars on mouseover.
   */
  star_over: function(index) {
    var self = this;

    if (!this.disabled) {
      this.temp_value = this.value;
      return this.value = index;
    }

  },

  /*
   * Behaviour of the stars on mouseout.
   */
  star_out: function() {
    var self = this;

    if (!this.disabled) {
      return this.value = this.temp_value;
    }
  },

  /*
   * Set the rating.
   */
  set: function(value) {
    var self = this;

    if (!this.disabled) {
      this.temp_value = value;
      return this.value = value;
    }
  }
}
});

new Vue({
el: '#app'
});
          </script>
    </body>
</html>
